In [1]:
import numpy as np
import pandas as pd
from datetime import datetime
from datetime import date

import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
f = r'C:\Users\User\VSCode\CDSS\source\感專醫師審核記錄201801-202203.xlsx'
doctor = pd.read_excel(f)

In [3]:
doctor.count()

編號      346861
日期      346861
病歷號     346861
科部代碼    346861
科部名稱    346861
職編      346861
審核醫師    346861
審查結果    346861
開單醫師    346860
感專建議    207520
開單日期    346861
開單時間    346861
審核日期    346861
審核時間    346861
dtype: int64

In [4]:
doctor['日期'] = doctor['日期'] + 19110000
doctor['日期'] = pd.to_datetime(doctor['日期'], format='%Y%m%d')
doctor['year'] = doctor['日期'].dt.year
doctor['month'] = doctor['日期'].dt.month
doctor['Error_Dose_Frequency'] = doctor['感專建議'].str.contains("劑量或頻率錯誤", na=False)

In [5]:
suggest = doctor.groupby(['year', 'month'])
s = suggest['審查結果'].value_counts()
suggest.size()

year  month
2018  1        7743
      2        6325
      3        7818
      4        7482
      5        7348
      6        7283
      7        8024
      8        8289
      9        7004
      10       7810
      11       7336
      12       7497
2019  1        7437
      2        5760
      3        7870
      4         365
      5         276
      6         383
      7         428
      8         899
      9        3513
      10       7864
      11       7926
      12       8551
2020  1        7093
      2        7642
      3        7637
      4        7320
      5        7461
      6        8176
      7        7876
      8        8245
      9        8230
      10       7883
      11        830
      12       3782
2021  1        8404
      2        7028
      3        8631
      4        8129
      5        8364
      6        7378
      7        7739
      8        8900
      9        7854
      10       8427
      11       8131
      12       7904
2022  1        8672
      2        7908
      3        9986
dtype: int64

In [6]:
A = doctor[doctor['審查結果'].str.contains("A", na=False)]
B = doctor[doctor['審查結果'].str.contains("B", na=False)]
C = doctor[doctor['審查結果'].str.contains("C", na=False)]
D = doctor[doctor['審查結果'].str.contains("D", na=False)]
E = doctor[doctor['審查結果'].str.contains("E", na=False)]

In [7]:
doctor['感專建議'].str.contains("劑量或頻率錯誤", na=False).value_counts()

False    340709
True       6152
Name: 感專建議, dtype: int64

In [8]:
doctor['審查結果'].value_counts().index

Index(['A.同意使用', 'B.建議修改', 'E.請完整填寫抗生素審核單', 'D.請開正式會診單', 'C.48小時後再審'], dtype='object')

In [9]:
A['感專建議'].str.contains("劑量或頻率錯誤", na=False).value_counts()

False    332816
True        105
Name: 感專建議, dtype: int64

In [10]:
B['感專建議'].str.contains("劑量或頻率錯誤", na=False).value_counts()

True     6022
False    5558
Name: 感專建議, dtype: int64

In [11]:
C['感專建議'].str.contains("劑量或頻率錯誤", na=False).value_counts()

False    13
Name: 感專建議, dtype: int64

In [12]:
D['感專建議'].str.contains("劑量或頻率錯誤", na=False).value_counts()

False    63
True      8
Name: 感專建議, dtype: int64

In [13]:
E['感專建議'].str.contains("劑量或頻率錯誤", na=False).value_counts()

False    2259
True       17
Name: 感專建議, dtype: int64

In [14]:
pd.DataFrame(suggest[['審查結果','Error_Dose_Frequency']].value_counts())
# .to_excel(r'C:\Users\User\Desktop\多利多之感言.xlsx')

                                                  0
year month 審查結果          Error_Dose_Frequency
2018 1     A.同意使用        False                 7370
           B.建議修改        True                   211
           E.請完整填寫抗生素審核單 False                   96
           B.建議修改        False                   60
           A.同意使用        True                     5
...                                             ...
2022 3     B.建議修改        False                  204
           E.請完整填寫抗生素審核單 False                  144
           B.建議修改        True                    91
           D.請開正式會診單     False                   11
           E.請完整填寫抗生素審核單 True                     3

[301 rows x 1 columns]

In [27]:
# suggest

In [33]:
# new_doctor = doctor[doctor['審查結果'].str.contains('B.建議修改')]
# new_suggest = new_doctor.groupby(['year','month'])
# new_s = new_suggest['審查結果'].value_counts()
doctor['every_month_count'] = 1
new_s = doctor.groupby(['year','month'])['every_month_count'].value_counts()
pd.DataFrame(new_s)

                              every_month_count
year month every_month_count
2018 1     1                               7743
     2     1                               6325
     3     1                               7818
     4     1                               7482
     5     1                               7348
     6     1                               7283
     7     1                               8024
     8     1                               8289
     9     1                               7004
     10    1                               7810
     11    1                               7336
     12    1                               7497
2019 1     1                               7437
     2     1                               5760
     3     1                               7870
     4     1                                365
     5     1                                276
     6     1                                383
     7     1                                428
     8     1                                899
     9     1                               3513
     10    1                               7864
     11    1                               7926
     12    1                               8551
2020 1     1                               7093
     2     1                               7642
     3     1                               7637
     4     1                               7320
     5     1                               7461
     6     1                               8176
     7     1                               7876
     8     1                               8245
     9     1                               8230
     10    1                               7883
     11    1                                830
     12    1                               3782
2021 1     1                               8404
     2     1                               7028
     3     1                               8631
     4     1                               8129
     5     1                               8364
     6     1                               7378
     7     1                               7739
     8     1                               8900
     9     1                               7854
     10    1                               8427
     11    1                               8131
     12    1                               7904
2022 1     1                               8672
     2     1                               7908
     3     1                               9986

In [41]:
dose_error = new_doctor[new_doctor['感專建議'].str.contains('劑量或頻率錯誤', na=False)]
symptoms_error = new_doctor[new_doctor['感專建議'].str.contains('與適應症或現行準則不合', na=False)]
another = new_doctor[~new_doctor['感專建議'].str.contains('劑量或頻率錯誤', na=False) &  ~new_doctor['感專建議'].str.contains('與適應症或現行準則不合', na=False)]

nde = dose_error.groupby(['year', 'month'])['審查結果'].value_counts()
nse = symptoms_error.groupby(['year', 'month'])['審查結果'].value_counts()
ano = another.groupby(['year', 'month'])['審查結果'].value_counts()

In [42]:
conditions=[new_doctor['感專建議'].str.contains('劑量或頻率錯誤', na=False), new_doctor['感專建議'].str.contains('與適應症或現行準則不合', na=False),
            ~new_doctor['感專建議'].str.contains('劑量或頻率錯誤', na=False) &  ~new_doctor['感專建議'].str.contains('與適應症或現行準則不合', na=False)]
values=['dose_error', 'symptoms_error', 'another']
new_doctor['hue'] = np.select(conditions, values)
# new_doctor

C:\Users\User\AppData\Local\Temp\ipykernel_23952\4184837079.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_doctor['hue'] = np.select(conditions, values)

In [54]:
new_doctor1 = pd.DataFrame(new_doctor.groupby(['year', 'month'])['hue'].value_counts()).sort_index(ascending=True)
# new_doctor1 = pd.merge(new_doctor1, pd.DataFrame(new_s) , how='left', on=['year', 'month'])
new_doctor1

                           hue
year month hue
2018 1     another          48
           dose_error      211
           symptoms_error   12
     2     another          64
           dose_error      171
...                        ...
2022 2     dose_error       57
           symptoms_error   12
     3     another         175
           dose_error       91
           symptoms_error   29

[152 rows x 1 columns]

In [ ]:
new_doctor1['percent'] = new_doctor1.hue/new_doctor1['審查結果']

In [53]:
# new_doctor1.to_excel(r'C:\Users\User\VSCode\CDSS\output\感專醫師forB.xlsx')

In [ ]:
new_doctor.drop_duplicates().count()

編號                      11580
日期                      11580
病歷號                     11580
科部代碼                    11580
科部名稱                    11580
職編                      11580
審核醫師                    11580
審查結果                    11580
開單醫師                    11580
感專建議                    11580
開單日期                    11580
開單時間                    11580
審核日期                    11580
審核時間                    11580
year                    11580
month                   11580
Error_Dose_Frequency    11580
dtype: int64