In [1]:
import pandas as pd
from datetime import timedelta
import numpy as np

In [2]:
drug = pd.read_csv(r'C:\Users\cmuh1\VSCode\jupter\warfarin_Source\warfarin_Drug.csv')

In [3]:
drug['OrderTime1'] = pd.to_datetime(drug['OrderTime']).dt.date
# drug['StartTime1'] = pd.to_datetime(drug['StartTime']).dt.date
# drug['EndTime1'] = pd.to_datetime(drug['EndTime']).dt.date
# drug['TranTime1'] = pd.to_datetime(drug['TranTime']).dt.date
# drug['SystemTime1'] = pd.to_datetime(drug['SystemTime']).dt.date

In [4]:
#用藥最小時間
drug_min = pd.DataFrame(drug.groupby('PatientNo')['OrderTime1'].min())

In [5]:
drug_min

              OrderTime1
PatientNo
100000000498  2010-08-12
100000001159  2018-12-21
100000001395  2015-02-01
100000001714  2016-02-13
100000002675  2003-10-20
...                  ...
100035861165  2019-12-12
100035863490  2019-12-10
100035892222  2019-12-19
100035901923  2019-12-22
100036202057  2019-07-24

[2613 rows x 1 columns]

In [6]:
drug = pd.merge(drug , drug_min , how='left' , on='PatientNo')
drug = drug.rename(columns={'OrderTime1_y':'OrderTime_min','OrderTime1_x':'OrderTime1'})

In [7]:
drug = drug[drug['OrderTime1'] == drug['OrderTime_min']]

In [8]:
drug_min1 = pd.DataFrame(drug.groupby('PatientNo')['OrderNo'].min())

In [9]:
drug = pd.merge(drug , drug_min1 , how='left' , on='PatientNo')
drug = drug.rename(columns={'OrderNo_y':'OrderNo_min'})

In [10]:
drug = drug[drug['OrderNo_x'] == drug['OrderNo_min']].drop_duplicates()
drug = drug.rename(columns={'OrderNo_x':'OrderNo'})
# test.to_excel(r'C:\Users\cmuh1\VSCode\jupter\test.xlsx')

In [11]:
drug.columns

Index(['OrderNo', 'OrderSource', 'VisitNo', 'PatientNo', 'GenotypeName', 'Sex',
       'MedType', 'MedCode', 'Dosage', 'IngredDosage', 'UsageNo', 'UsedTimeNo',
       'WayNo', 'UsedDays', 'KeepTime', 'TotalQty', 'IngredQty', 'IsSelf',
       'IsMill', 'IsCharge', 'Advise', 'OrderTime', 'StartUser', 'StartTime',
       'EndTime', 'EndUser', 'TranTime', 'TranStatus', 'SystemUser',
       'SystemTime', 'OrderTime1', 'OrderTime_min', 'OrderNo_min'],
      dtype='object')

In [12]:
gene = pd.read_excel(r'C:\Users\cmuh1\VSCode\jupter\warfarin_Source\warfarin_ph_gene.xlsx', sheet_name='工作表2')

In [13]:
drug_gene = pd.merge(drug , gene , how='left' , on='PatientNo')

In [14]:
# 合併基因且刪除無基因人數為2426人
Patien_2426  = drug_gene[drug_gene['rs1799853'].notnull()]
Patien_2426 = Patien_2426.reset_index(drop=True)
# 2426
Patien_2426

,OrderNo,OrderSource,VisitNo,PatientNo,GenotypeName_x,Sex_x,MedType,MedCode,Dosage,IngredDosage,...,GenotypeName_y,Sex_y,Birthday,Age,warfarinCount,warfarin_Ph,rs1799853,rs1057910,rs9923231,rs2108622
0,-319037674,-15,-169952329,100000025381,20190814_GT3_ARRAY_179_F06_TPMI.CEL,1,1120100,TWARFA1,1.0,0,...,20190814_GT3_ARRAY_179_F06_TPMI.CEL,1.0,1949-10-05 00:00:00,70.0,30.0,2.0,0/0,0/0,0/0,0/0
1,-267988057,-200000054,-301148599,100000026596,20181205_GT1_ARRAY_22_C04_TPMI.CEL,2,1310100,TCOUMAD,0.5,0,...,20181205_GT1_ARRAY_22_C04_TPMI.CEL,2.0,1937-11-05 00:00:00,82.0,2.0,2.0,0/0,0/0,0/1,0/1
2,-265193916,-200000014,-300945791,100000037186,20200203_GT22_ARRAY_766_C12_TPMI.CEL,2,1310100,TCOUMAD,0.5,0,...,20200203_GT22_ARRAY_766_C12_TPMI.CEL,2.0,1949-03-29 00:00:00,70.0,14.0,2.0,0/0,0/0,0/0,0/1
3,-98272020,-14,-161649383,100000063534,20200818_GT8_ARRAY_4092_H08_TPMI.CEL,2,1120100,TCOUMAD,0.5,0,...,20200818_GT8_ARRAY_4092_H08_TPMI.CEL,2.0,1947-08-08 00:00:00,72.0,2.0,2.0,0/0,0/0,0/1,0/0
4,-706246289,-6,-182833784,100000059139,20200831_GT1_ARRAY_4146_E08_TPMI.CEL,1,1120100,TWARFAR2,0.5,0,...,20200831_GT1_ARRAY_4146_E08_TPMI.CEL,1.0,1958-11-07 00:00:00,61.0,1.0,2.0,0/0,1/1,0/0,0/0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2421,-377922712,-16,-173739360,100033249914,20200211_GT24_ARRAY_817_B02_TPMI.CEL,1,1120100,TWARFA1,1.5,0,...,20200211_GT24_ARRAY_817_B02_TPMI.CEL,1.0,2011-02-17 00:00:00,8.0,11.0,2.0,0/0,0/1,0/0,0/0
2422,-740694493,-200000590,-301293831,100033542650,20190902_GT1_ARRAY_200_F07_TPMI.CEL,1,1310100,TWARFAR2,1.0,0,...,20190902_GT1_ARRAY_200_F07_TPMI.CEL,1.0,1990-08-01 00:00:00,29.0,164.0,2.0,0/0,0/0,0/0,0/1
2423,-304165255,-200000021,-301183514,100033806705,20200120_GT23_ARRAY_751_F10_TPMI.CEL,1,1310100,TCOUMAD,0.5,0,...,20200120_GT23_ARRAY_751_F10_TPMI.CEL,1.0,1958-02-25 00:00:00,61.0,24.0,2.0,0/0,0/0,0/0,0/0
2424,-639008413,-25,-179841588,100034679423,20191209_GT23_ARRAY_636_H01_TPMI.CEL,2,1110600,TWARFAR2,0.5,0,...,20191209_GT23_ARRAY_636_H01_TPMI.CEL,2.0,1955-10-16 00:00:00,64.0,18.0,2.0,0/0,0/1,0/0,0/1
2425,-714292209,-3,-180291144,100034765188,20200506_GT8_ARRAY_177_D11_TPMI.CEL,1,1110600,TWARFAR2,0.5,0,...,20200506_GT8_ARRAY_177_D11_TPMI.CEL,1.0,1954-09-13 00:00:00,65.0,14.0,2.0,0/0,0/0,0/0,0/1

In [15]:
# Patien_2414 = Patien_2426[(Patien_2426['rs1799853'] != './.') & (Patien_2426['rs1057910'] != './.') & (Patien_2426['rs9923231'] != './.') & (Patien_2426['rs2108622'] != './.')]
# # Patien_2414 = Patien_2414[Patien_2414['rs1057910'] != './.']
# # Patien_2414 = Patien_2414[Patien_2414['rs9923231'] != './.']
# # Patien_2414 = Patien_2414[Patien_2414['rs2108622'] != './.']
# # Patien_2414 = Patien_2414.reset_index(drop=True)
# Patien_2414

In [16]:
# 基因變異篩選
wildtype= pd.DataFrame()
varianttype = pd.DataFrame()
for i in range(len(Patien_2426['rs1799853'])):
    if((Patien_2426['rs1799853'][i]in( ['0/0','./.'])) & (Patien_2426['rs1057910'][i]in( ['0/0','./.'])) & (Patien_2426['rs9923231'][i]in( ['0/0','./.'])) & (Patien_2426['rs2108622'][i]in( ['0/0','./.']))):
        wildtype = pd.concat([wildtype,Patien_2426.loc[i]],axis=1)
    else:
        varianttype = pd.concat([varianttype,Patien_2426.loc[i]],axis=1)

In [17]:
# wildtype.T
# .to_excel(r'C:\Users\cmuh1\VSCode\jupter\wildtype1234.xlsx')
# 1037

In [18]:
# varianttype.T
# .to_excel(r'C:\Users\cmuh1\VSCode\jupter\variation1234.xlsx')
# 1389

In [19]:
# 無變異
wildtype1 = pd.DataFrame(wildtype.T['PatientNo'])
wildtype1['wildtype'] = 1

In [20]:
# 變異
varianttype1 = pd.DataFrame(varianttype.T['PatientNo'])
varianttype1['varianttype'] = 1

In [21]:
drug_gene = pd.merge(drug_gene ,wildtype1,how='left',on='PatientNo' )

In [22]:
drug_gene = pd.merge(drug_gene ,varianttype1,how='left',on='PatientNo' )

In [23]:
# 變異與無變異合成一欄位，1:變異、0:無變異、"":無資料
conditions=[(drug_gene['wildtype'] == 1 ),(drug_gene['varianttype'] == 1),(drug_gene['varianttype'].isnull()&drug_gene['wildtype'].isnull())]
values = [ 0 , 1 , '']
drug_gene['varianttype1'] = np.select(conditions, values)

In [24]:
# 刪除'wildtype'、'varianttype'欄位 修改名稱
drug_gene = drug_gene.drop(columns=['wildtype' , 'varianttype'])
drug_gene = drug_gene.rename(columns={'varianttype1':'varianttype'})

In [25]:
# 癌症碼
Malignancy = pd.read_excel(r'C:\Users\cmuh1\VSCode\jupter\Malignancy_Patient(197)-0215.xlsx' ,sheet_name='diag_min_over3')
print(Malignancy)
print(Malignancy.columns)
Malignancy.Malignancy.value_counts()

        PatientNo    OrderTime_cancer  Malignancy_count  Malignancy
0    100000018796 2016-06-11 09:16:00                11           1
1    100000085452 2012-09-25 16:55:00                 3           1
2    100000126933 2018-10-10 14:03:00                 3           1
3    100000134363 2011-08-10 00:00:00                 3           1
4    100000141792 2009-12-29 15:59:00                 4           1
..            ...                 ...               ...         ...
192  100033598519 2019-10-23 20:55:00                 9           1
193  100033660572 2017-11-22 14:52:00                 3           1
194  100033929603 2018-01-31 13:23:00                 3           1
195  100034816478 2019-01-04 05:14:00                 4           1
196  100035631919 2019-10-20 16:40:00                 6           1

[197 rows x 4 columns]
Index(['PatientNo', 'OrderTime_cancer', 'Malignancy_count', 'Malignancy'], dtype='object')

1    197
Name: Malignancy, dtype: int64

In [26]:
drug_gene_diag = pd.merge(drug_gene , Malignancy , how='left',on='PatientNo')
# drug_gene_diag = drug_gene_diag.rename(columns={'OrderTime_y':'OrderTime_Malignancy'})

In [27]:
drug_gene_diag['OrderTime_cancer'] = pd.to_datetime(drug_gene_diag['OrderTime_cancer']).dt.date
# Malignancy_Patien = drug_gene_diag[drug_gene_diag['OrderTime_min'] >= drug_gene_diag['OrderTime_cancer']]
# .to_excel(r'C:\Users\cmuh1\VSCode\jupter\test.xlsx')
# 138
print(drug_gene_diag[drug_gene_diag.PatientNo == 100000018796][['OrderTime_min', 'OrderTime_cancer']])
# drug_gene_diag[drug_gene_diag['OrderTime_cancer'].notnull()]
# Malignancy_Patien.info() #138
# Malignancy_Patien.columns
# drug_gene_diag = drug_gene_diag.drop(columns='b_drug_cancer')

    OrderTime_min OrderTime_cancer
102    2005-07-19       2016-06-11

In [28]:
# order brfore cancer #138
drug_gene_diag['b_drug_cancer'] = np.where((drug_gene_diag['Malignancy']==1) & (drug_gene_diag['OrderTime_min'] >= drug_gene_diag['OrderTime_cancer']), '1', '0')
# drug_gene_diag[drug_gene_diag['b_drug_cancer']=='1']

# order after cancer #59
drug_gene_diag['a_drug_cancer'] = np.where((drug_gene_diag['Malignancy']==1) & (drug_gene_diag['OrderTime_min'] < drug_gene_diag['OrderTime_cancer']), '1', '0')
# drug_gene_diag[drug_gene_diag['a_drug_cancer']=='1']

In [29]:
# CV分群
CV = pd.read_excel(r'C:\Users\cmuh1\VSCode\CV_3-0309.xlsx')

# 用藥前CV
b_CV = pd.read_excel(r'C:\Users\cmuh1\VSCode\CV_before_0328.xlsx')

In [30]:
drug_gene_diag = pd.merge(drug_gene_diag , CV , how='left' , on='PatientNo')
drug_gene_diag = pd.merge(drug_gene_diag , b_CV , how='left' , on='PatientNo')

In [31]:
drug_gene_diag['Atrial_fibrillation'] = drug_gene_diag['Atrial_fibrillation'].fillna(0)
drug_gene_diag['DVT_PE'] = drug_gene_diag['DVT_PE'].fillna(0)
drug_gene_diag['Mechanical_aortic_valve'] = drug_gene_diag['Mechanical_aortic_valve'].fillna(0)

In [32]:
drug_gene_diag

,OrderNo,OrderSource,VisitNo,PatientNo,GenotypeName_x,Sex_x,MedType,MedCode,Dosage,IngredDosage,...,Malignancy,b_drug_cancer,a_drug_cancer,Atrial_fibrillation,DVT_PE,Mechanical_aortic_valve,CV_before,Atrial_fibrillation_before,DVT_PE_before,Mechanical_aortic_valve_before
0,-319037674,-15,-169952329,100000025381,20190814_GT3_ARRAY_179_F06_TPMI.CEL,1,1120100,TWARFA1,1.0,0,...,NaN,0,0,1.0,1.0,0.0,0.0,0.0,0.0,0.0
1,-267988057,-200000054,-301148599,100000026596,20181205_GT1_ARRAY_22_C04_TPMI.CEL,2,1310100,TCOUMAD,0.5,0,...,NaN,0,0,0.0,1.0,0.0,1.0,0.0,1.0,0.0
2,-265193916,-200000014,-300945791,100000037186,20200203_GT22_ARRAY_766_C12_TPMI.CEL,2,1310100,TCOUMAD,0.5,0,...,NaN,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,-98272020,-14,-161649383,100000063534,20200818_GT8_ARRAY_4092_H08_TPMI.CEL,2,1120100,TCOUMAD,0.5,0,...,NaN,0,0,1.0,0.0,0.0,1.0,1.0,0.0,0.0
4,-258443955,-200000004,-301072902,100000001395,20191104_GT24_ARRAY_661_F02_TPMI.CEL,1,1310100,TCOUMAD,0.5,0,...,NaN,0,0,0.0,0.0,0.0,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2608,-740694493,-200000590,-301293831,100033542650,20190902_GT1_ARRAY_200_F07_TPMI.CEL,1,1310100,TWARFAR2,1.0,0,...,NaN,0,0,1.0,0.0,1.0,0.0,0.0,0.0,0.0
2609,-304165255,-200000021,-301183514,100033806705,20200120_GT23_ARRAY_751_F10_TPMI.CEL,1,1310100,TCOUMAD,0.5,0,...,NaN,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2610,-675045943,-200000310,-301342004,100034082040,20200806_GT4_ARRAY_4050_F04_TPMI.CEL,1,1310100,TWARFA1,2.0,0,...,NaN,0,0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
2611,-639008413,-25,-179841588,100034679423,20191209_GT23_ARRAY_636_H01_TPMI.CEL,2,1110600,TWARFAR2,0.5,0,...,NaN,0,0,1.0,0.0,1.0,1.0,1.0,0.0,1.0
2612,-714292209,-3,-180291144,100034765188,20200506_GT8_ARRAY_177_D11_TPMI.CEL,1,1110600,TWARFAR2,0.5,0,...,NaN,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [33]:
# drug_gene_diag.to_excel(r'C:\Users\cmuh1\VSCode\jupter\drug_gene_diag.xlsx')
#......不知道按到甚麼把寫的CODE誤刪，所以先存檔

In [34]:
# INR檔案
INR = pd.read_csv(r'C:\Users\cmuh1\VSCode\jupter\warfarin_Source\INR_pharmaco.csv')

C:\Users\cmuh1\AppData\Local\Temp\ipykernel_12648\668151696.py:2: DtypeWarning: Columns (14) have mixed types. Specify dtype option on import or set low_memory=False.
  INR = pd.read_csv(r'C:\Users\cmuh1\VSCode\jupter\warfarin_Source\INR_pharmaco.csv')

In [35]:
#INR時間創新欄位、以YYYY-MM-DD呈現
INR['ReportTime'] = INR['ReportTime'].replace('2999-12-31 00:00:00.000' , '1900-12-31 00:00:00.000')
INR['INR_OrderTime'] = pd.to_datetime(INR['OrderTime']).dt.date
INR['INR_ReportTime'] = pd.to_datetime(INR['ReportTime']).dt.date

In [36]:
INR = pd.merge(INR , drug_min,how='left',on='PatientNo')
INR = INR.rename(columns={'OrderTime1':'Drug_OrderTime_min'})
INR

,ReportNo,ExamItemNo,ExamItemName,PatientNo,GenotypeName,VisitNo,OrderUser,OrderTime,RegisterUser,RegisterTime,...,ReportUser,ReportTime,ReprtValue,RiskStatus,RefNo,SystemUser,SystemTime,INR_OrderTime,INR_ReportTime,Drug_OrderTime_min
0,-13445168,176,INR,100000000068,20200610_GT3_ARRAY_2135_H07_TPMI.CEL,-300859608,4749,2011-12-23 14:46:00.000,20833,2012-01-10 14:27:00.000,...,18237,2012-01-10 14:54:00.000,0.93,0,0,999999,2018-12-27 20:12:31.340,2011-12-23,2012-01-10,NaN
1,-20164692,282280,INR,100000000068,20200610_GT3_ARRAY_2135_H07_TPMI.CEL,-300963278,19722,2013-07-23 14:32:00.000,20951,2013-07-24 02:37:00.000,...,20951,2013-07-24 02:54:00.000,0.94,0,0,999999,2018-12-31 12:10:09.347,2013-07-23,2013-07-24,NaN
2,-7958139,176,INR,100000000068,20200610_GT3_ARRAY_2135_H07_TPMI.CEL,-301118926,18448,2015-09-08 00:44:00.000,24011,2015-09-08 06:15:00.000,...,24011,2015-09-08 06:48:00.000,1.04,0,0,999999,2018-12-24 22:47:29.783,2015-09-08,2015-09-08,NaN
3,-19871695,282280,INR,100000000081,20200527_GT1_ARRAY_248_A03_TPMI.CEL,-201918747,17386,2013-06-20 19:50:00.000,10566,2013-06-20 20:38:00.000,...,18710,2013-06-20 20:52:00.000,0.90,0,0,999999,2018-12-30 21:02:17.320,2013-06-20,2013-06-20,NaN
4,-17055506,176,INR,100000000081,20200527_GT1_ARRAY_248_A03_TPMI.CEL,-301048582,5983,2014-08-26 11:13:00.000,92796,2014-10-02 15:11:00.000,...,18735,2014-10-02 15:43:00.000,0.93,0,0,999999,2018-12-24 19:41:57.013,2014-08-26,2014-10-02,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
469666,-68098584,282307,INR,100036794547,20210201_GT2_ARRAY_12_A06_TPMI.CEL,-301564297,31425,2020-12-29 14:19:00.000,2052,2020-12-29 14:50:00.000,...,41,2020-12-29 15:52:00.000,0.92,0,0,999999,2021-10-08 01:50:41.903,2020-12-29,2020-12-29,NaN
469667,-68119014,282307,INR,100036796747,20210202_GT5_ARRAY_15_B05_TPMI.CEL,-189436232,562,2020-12-31 13:09:00.000,25378,2020-12-31 13:26:00.000,...,27091,2020-12-31 13:56:00.000,0.98,0,0,999999,2021-10-08 03:18:43.177,2020-12-31,2020-12-31,NaN
469668,-68104266,282280,INR,100036798607,20210201_GT2_ARRAY_14_F08_TPMI.CEL,-203124543,35328,2020-12-30 08:40:00.000,20951,2020-12-30 08:53:00.000,...,13687,2020-12-30 09:19:00.000,0.92,0,0,999999,2021-10-08 02:17:34.763,2020-12-30,2020-12-30,NaN
469669,-68119008,282280,INR,100036799134,20210202_GT5_ARRAY_15_H07_TPMI.CEL,-189438768,5121,2020-12-30 10:41:00.000,25378,2020-12-31 13:11:00.000,...,27091,2020-12-31 13:56:00.000,0.92,0,0,999999,2021-10-08 03:18:41.160,2020-12-30,2020-12-31,NaN
469670,-68107105,282307,INR,100036799387,20210201_GT2_ARRAY_14_E03_TPMI.CEL,-189439696,21996,2020-12-30 10:53:00.000,23735,2020-12-30 11:39:00.000,...,13687,2020-12-30 12:07:00.000,0.88,50,0,999999,2021-10-08 02:29:51.650,2020-12-30,2020-12-30,NaN

In [37]:
# timediff:ReportTiime - OrderTime
INR = INR[INR['Drug_OrderTime_min'].notnull()]
INR['timediff'] = INR['INR_ReportTime'] - INR['Drug_OrderTime_min']

C:\Users\cmuh1\AppData\Local\Temp\ipykernel_12648\1782759668.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  INR['timediff'] = INR['INR_ReportTime'] - INR['Drug_OrderTime_min']

In [38]:
INR[INR['PatientNo'] == 100000227002]

,ReportNo,ExamItemNo,ExamItemName,PatientNo,GenotypeName,VisitNo,OrderUser,OrderTime,RegisterUser,RegisterTime,...,ReportTime,ReprtValue,RiskStatus,RefNo,SystemUser,SystemTime,INR_OrderTime,INR_ReportTime,Drug_OrderTime_min,timediff
17694,-24663155,282280,INR,100000227002,20190604_GT1_ARRAY_113_E10_TPMI.CEL,-201453789,11435,2010-03-18 09:11:00.000,18735,2010-03-18 12:06:00.000,...,2010-03-18 12:27:00.000,0.98,0,0,999999,2019-01-04 14:45:12.440,2010-03-18,2010-03-18,2010-12-21,-278 days
17695,-23589826,282280,INR,100000227002,20190604_GT1_ARRAY_113_E10_TPMI.CEL,-201554575,13499,2010-12-15 09:39:00.000,18311,2010-12-15 10:21:00.000,...,2010-12-15 10:41:00.000,0.99,0,0,999999,2019-01-09 03:17:58.487,2010-12-15,2010-12-15,2010-12-21,-6 days
17696,-24030387,282307,INR,100000227002,20190604_GT1_ARRAY_113_E10_TPMI.CEL,-300788925,14345,2010-12-21 12:07:00.000,3507,2010-12-23 06:19:00.000,...,2010-12-23 06:42:00.000,1.03,0,0,999999,2019-01-09 06:26:54.430,2010-12-21,2010-12-23,2010-12-21,2 days
17697,-24086777,282307,INR,100000227002,20190604_GT1_ARRAY_113_E10_TPMI.CEL,-300788925,14345,2010-12-23 17:15:00.000,18237,2010-12-24 03:33:00.000,...,2010-12-24 03:58:00.000,1.15,0,0,999999,2019-01-09 06:50:51.657,2010-12-23,2010-12-24,2010-12-21,3 days
17698,-24110454,282307,INR,100000227002,20190604_GT1_ARRAY_113_E10_TPMI.CEL,-300788925,14345,2010-12-23 17:15:00.000,18311,2010-12-24 10:12:00.000,...,2010-12-24 10:38:00.000,1.10,0,0,999999,2019-01-09 06:59:01.327,2010-12-23,2010-12-24,2010-12-21,3 days
17699,-24081256,282307,INR,100000227002,20190604_GT1_ARRAY_113_E10_TPMI.CEL,-300788925,14345,2010-12-23 17:16:00.000,20837,2010-12-23 21:21:00.000,...,2010-12-23 21:52:00.000,1.14,0,0,999999,2019-01-09 06:48:11.273,2010-12-23,2010-12-23,2010-12-21,2 days
17700,-24191600,282280,INR,100000227002,20190604_GT1_ARRAY_113_E10_TPMI.CEL,-300788925,13419,2010-12-25 09:49:00.000,17694,2010-12-25 21:45:00.000,...,2010-12-25 22:13:00.000,1.09,0,0,999999,2019-01-09 07:33:00.743,2010-12-25,2010-12-25,2010-12-21,4 days
17701,-24306552,176,INR,100000227002,20190604_GT1_ARRAY_113_E10_TPMI.CEL,-300788925,15930,2010-12-26 08:48:00.000,18311,2010-12-28 06:18:00.000,...,2010-12-28 06:39:00.000,1.45,0,0,999999,2019-01-09 08:20:45.517,2010-12-26,2010-12-28,2010-12-21,7 days
17702,-24444638,282307,INR,100000227002,20190604_GT1_ARRAY_113_E10_TPMI.CEL,-300788925,14345,2010-12-28 10:52:00.000,18311,2010-12-30 10:14:00.000,...,2010-12-30 10:35:00.000,1.42,0,0,999999,2019-01-09 09:18:26.160,2010-12-28,2010-12-30,2010-12-21,9 days
17703,-20605347,282307,INR,100000227002,20190604_GT1_ARRAY_113_E10_TPMI.CEL,-300788925,14345,2010-12-30 14:03:00.000,3507,2011-01-01 06:40:00.000,...,2011-01-01 07:13:00.000,1.61,0,0,999999,2018-12-28 08:53:16.040,2010-12-30,2011-01-01,2010-12-21,11 days
17704,-20814424,282280,INR,100000227002,20190604_GT1_ARRAY_113_E10_TPMI.CEL,-151423883,11835,2011-01-03 15:21:00.000,8241,2011-01-03 15:27:00.000,...,2011-01-03 16:10:00.000,2.40,50,0,999999,2018-12-28 09:40:10.703,2011-01-03,2011-01-03,2010-12-21,13 days
17705,-21452858,282280,INR,100000227002,20190604_GT1_ARRAY_113_E10_TPMI.CEL,-151423883,11835,2011-01-03 16:18:00.000,16561,2011-01-12 14:15:00.000,...,2011-01-12 15:10:00.000,1.55,50,0,999999,2018-12-28 13:16:14.693,2011-01-03,2011-01-12,2010-12-21,22 days
17706,-21124637,282280,INR,100000227002,20190604_GT1_ARRAY_113_E10_TPMI.CEL,-151436624,11835,2011-01-12 15:39:00.000,8241,2011-02-09 13:17:00.000,...,2011-02-09 14:10:00.000,1.04,0,0,999999,2018-12-28 23:03:39.693,2011-01-12,2011-02-09,2010-12-21,50 days
17707,-21289638,282280,INR,100000227002,20190604_GT1_ARRAY_113_E10_TPMI.CEL,-151506144,11835,2011-02-09 14:46:00.000,16561,2011-03-09 13:33:00.000,...,2011-03-09 14:07:00.000,1.00,0,0,999999,2018-12-29 10:17:32.293,2011-02-09,2011-03-09,2010-12-21,78 days
17708,-21013980,282280,INR,100000227002,20190604_GT1_ARRAY_113_E10_TPMI.CEL,-151691189,11835,2011-03-09 14:28:00.000,8241,2011-04-06 13:37:00.000,...,2011-04-06 14:16:00.000,1.37,50,0,999999,2018-12-29 20:46:08.127,2011-03-09,2011-04-06,2010-12-21,106 days
17709,-22739135,282280,INR,100000227002,20190604_GT1_ARRAY_113_E10_TPMI.CEL,-152336710,11835,2011-05-03 14:14:00.000,20951,2011-05-31 13:10:00.000,...,2011-05-31 13:56:00.000,2.01,50,0,999999,2018-12-30 18:05:56.477,2011-05-03,2011-05-31,2010-12-21,161 days
17710,-21840637,282280,INR,100000227002,20190604_GT1_ARRAY_113_E10_TPMI.CEL,-152557443,11835,2011-07-26 13:45:00.000,21058,2011-10-18 10:36:00.000,...,2011-10-18 12:18:00.000,1.94,50,0,999999,2019-01-02 02:03:55.913,2011-07-26,2011-10-18,2010-12-21,301 days
17711,-13532433,282280,INR,100000227002,20190604_GT1_ARRAY_113_E10_TPMI.CEL,-153001000,11835,2011-10-18 14:10:00.000,21058,2012-01-11 13:36:00.000,...,2012-01-11 14:18:00.000,1.87,50,0,999999,2018-12-27 20:35:59.113,2011-10-18,2012-01-11,2010-12-21,386 days
17712,-17322169,282280,INR,100000227002,20190604_GT1_ARRAY_113_E10_TPMI.CEL,-155686072,11835,2012-09-14 10:47:00.000,8241,2013-01-04 08:32:00.000,...,2013-01-04 09:11:00.000,2.21,50,0,999999,2018-12-27 18:12:04.183,2012-09-14,2013-01-04,2010-12-21,745 days
17713,-19201143,282280,INR,100000227002,20190604_GT1_ARRAY_113_E10_TPMI.CEL,-158031534,11835,2013-06-21 10:29:00.000,8241,2013-09-14 12:47:00.000,...,2013-09-14 13:25:00.000,2.22,50,0,999999,2019-01-01 12:15:02.717,2013-06-21,2013-09-14,2010-12-21,998 days
17714,-12464404,282280,INR,100000227002,20190604_GT1_ARRAY_113_E10_TPMI.CEL,-160241171,11835,2014-02-21 08:44:00.000,91136,2014-05-16 09:23:00.000,...,2014-05-16 10:06:00.000,2.52,50,0,999999,2018-12-22 03:04:13.487,2014-02-21,2014-05-16,2010-12-21,1242 days
17715,-11278146,282280,INR,100000227002,20190604_GT1_ARRAY_113_E10_TPMI.CEL,-162513350,11835,2014-08-02 15:58:00.000,8241,2014-10-24 09:13:00.000,...,2014-10-24 09:37:00.000,3.90,50,0,999999,2018-12-25 05:39:49.103,2014-08-02,2014-10-24,2010-12-21,1403 days
17716,-8622513,282280,INR,100000227002,20190604_GT1_ARRAY_113_E10_TPMI.CEL,-163325222,11835,2015-01-16 11:19:00.000,2096,2015-02-05 10:37:00.000,...,2015-02-05 11:09:00.000,2.90,50,0,999999,2018-12-20 08:08:13.727,2015-01-16,2015-02-05,2010-12-21,1507 days
17717,-8974567,282280,INR,100000227002,20190604_GT1_ARRAY_113_E10_TPMI.CEL,-202221521,6110,2015-06-12 14:40:00.000,28087,2015-06-12 15:29:00.000,...,2015-06-12 16:21:00.000,7.86,50,0,999999,2018-12-23 00:00:53.630,2015-06-12,2015-06-12,2010-12-21,1634 days
17718,-8976086,282280,INR,100000227002,20190604_GT1_ARRAY_113_E10_TPMI.CEL,-202221521,20081,2015-06-12 21:45:00.000,25728,2015-06-12 22:22:00.000,...,2015-06-12 22:49:00.000,3.36,50,0,999999,2018-12-23 00:09:04.983,2015-06-12,2015-06-12,2010-12-21,1634 days
17719,-8923751,282280,INR,100000227002,20190604_GT1_ARRAY_113_E10_TPMI.CEL,-202221521,11856,2015-06-13 07:58:00.000,23815,2015-06-13 09:05:00.000,...,2015-06-13 09:26:00.000,2.82,50,0,999999,2018-12-23 00:17:54.557,2015-06-13,2015-06-13,2010-12-21,1635 days
17720,-8672469,282280,INR,100000227002,20190604_GT1_ARRAY_113_E10_TPMI.CEL,-165613410,11835,2015-06-19 13:49:00.000,8241,2015-06-19 14:01:00.000,...,2015-06-19 14:39:00.000,1.17,0,0,999999,2018-12-23 03:45:40.470,2015-06-19,2015-06-19,2010-12-21,1641 days
17721,-6160362,282280,INR,100000227002,20190604_GT1_ARRAY_113_E10_TPMI.CEL,-164942300,11835,2015-07-03 11:12:00.000,8241,2015-07-31 10:01:00.000,...,2015-07-31 10:41:00.000,1.82,50,0,999999,2018-12-24 01:42:06.197,2015-07-03,2015-07-31,2010-12-21,1683 days
17722,-8479076,282280,INR,100000227002,20190604_GT1_ARRAY_113_E10_TPMI.CEL,-166112408,11835,2015-08-28 14:12:00.000,8241,2015-08-28 14:17:00.000,...,2015-08-28 14:52:00.000,2.09,50,0,999999,2018-12-24 17:10:57.257,2015-08-28,2015-08-28,2010-12-21,1711 days
17723,-6584867,282280,INR,100000227002,20190604_GT1_ARRAY_113_E10_TPMI.CEL,-166408132,11835,2015-09-25 12:24:00.000,20951,2015-09-25 12:31:00.000,...,2015-09-25 13:00:00.000,1.66,50,0,999999,2018-12-25 08:31:14.353,2015-09-25,2015-09-25,2010-12-21,1739 days
17724,-5816493,282280,INR,100000227002,20190604_GT1_ARRAY_113_E10_TPMI.CEL,-166712625,11835,2015-11-20 09:55:00.000,5342,2015-11-20 10:08:00.000,...,2015-11-20 10:39:00.000,1.67,50,0,999999,2018-12-26 14:25:27.413,2015-11-20,2015-11-20,2010-12-21,1795 days
17725,-15574055,282280,INR,100000227002,20190604_GT1_ARRAY_113_E10_TPMI.CEL,-167316909,11835,2016-02-05 12:56:00.000,5342,2016-03-08 08:36:00.000,...,2016-03-08 09:17:00.000,1.71,50,0,999999,2018-12-20 23:33:55.137,2016-02-05,2016-03-08,2010-12-21,1904 days
17726,-18658358,282280,INR,100000227002,20190604_GT1_ARRAY_113_E10_TPMI.CEL,-168132100,11835,2016-05-06 10:11:00.000,2096,2016-05-30 08:32:00.000,...,2016-05-30 09:27:00.000,2.18,50,0,999999,2018-12-22 18:37:06.310,2016-05-06,2016-05-30,2010-12-21,1987 days
17727,-41618350,147,INR,100000227002,20190604_GT1_ARRAY_113_E10_TPMI.CEL,-169096162,11835,2016-07-29 09:56:00.000,20834,2016-07-29 10:06:00.000,...,2016-07-29 11:08:00.000,1.47,50,0,999999,2018-12-24 06:22:22.780,2016-07-29,2016-07-29,2010-12-21,2047 days
17728,-44728587,147,INR,100000227002,20190604_GT1_ARRAY_113_E10_TPMI.CEL,-169096212,11835,2016-10-21 09:12:00.000,8241,2017-01-13 09:19:00.000,...,2017-01-13 10:09:00.000,1.77,50,0,999999,2019-01-29 18:55:37.257,2016-10-21,2017-01-13,2010-12-21,2215 days
17729,-47165668,282280,INR,100000227002,20190604_GT1_ARRAY_113_E10_TPMI.CEL,-172908983,11835,2017-06-23 09:52:00.000,8241,2017-09-15 08:28:00.000,...,2017-09-15 08:59:00.000,1.03,0,0,999999,2019-02-04 13:27:54.430,2017-06-23,2017-09-15,2010-12-21,2460 days
17730,-55484160,282280,INR,100000227002,20190604_GT1_ARRAY_113_E10_TPMI.CEL,-202798440,28761,2018-12-02 19:38:00.000,28084,2018-12-02 20:37:00.000,...,2018-12-02 21:43:00.000,1.65,50,0,999999,2019-11-16 17:57:00.810,2018-12-02,2018-12-02,2010-12-21,2903 days
17731,-55490277,282280,INR,100000227002,20190604_GT1_ARRAY_113_E10_TPMI.CEL,-202798440,14304,2018-12-03 08:03:00.000,16071,2018-12-03 08:17:00.000,...,2018-12-03 08:34:00.000,1.38,50,0,999999,2019-11-16 18:08:05.110,2018-12-03,2018-12-03,2010-12-21,2904 days
17732,-57403096,282280,INR,100000227002,20190604_GT1_ARRAY_113_E10_TPMI.CEL,-301400469,23214,2019-02-12 12:07:00.000,18311,2019-02-13 06:43:00.000,...,2019-02-13 07:26:00.000,1.24,50,0,999999,2020-09-29 23:38:35.200,2019-02-12,2019-02-13,2010-12-21,2976 days
17733,-57496362,282280,INR,100000227002,20190604_GT1_ARRAY_113_E10_TPMI.CEL,-301400469,28699,2019-02-15 15:38:00.000,2052,2019-02-15 16:26:00.000,...,2019-02-15 17:03:00.000,1.31,50,0,999999,2020-09-30 02:07:42.300,2019-02-15,2019-02-15,2010-12-21,2978 days
17734,-58693017,282280,INR,100000227002,20190604_GT1_ARRAY_113_E10_TPMI.CEL,-181363326,18508,2019-03-22 11:57:00.000,28057,2019-03-22 12:14:00.000,...,2019-03-22 12:41:00.000,1.20,0,0,999999,2020-10-01 06:43:39.400,2019-03-22,2019-03-22,2010-12-21,3013 days
17735,-56514119,282307,INR,100000227002,20190604_GT1_ARRAY_113_E10_TPMI.CEL,-301414394,27220,2019-04-07 15:11:00.000,33604,2019-04-07 15:44:00.000,...,2019-04-07 17:20:00.000,1.22,50,0,999999,2020-09-29 02:56:45.583,2019-04-07,2019-04-07,2010-12-21,3029 days
17736,-59474041,282307,INR,100000227002,20190604_GT1_ARRAY_113_E10_TPMI.CEL,-301433527,10724,2019-06-25 16:32:00.000,28087,2019-06-25 17:04:00.000,...,2019-06-25 17:32:00.000,1.10,0,0,999999,2020-10-01 22:33:46.937,2019-06-25,2019-06-25,2010-12-21,3108 days
17737,-57925739,282307,INR,100000227002,20190604_GT1_ARRAY_113_E10_TPMI.CEL,-301458014,31458,2019-10-03 15:47:00.000,27091,2019-10-04 06:19:00.000,...,2019-10-04 07:05:00.000,1.20,0,0,999999,2020-09-29 15:20:59.320,2019-10-03,2019-10-04,2010-12-21,3209 days
17738,-59880312,282280,INR,100000227002,20190604_GT1_ARRAY_113_E10_TPMI.CEL,-202966349,27074,2019-11-29 11:11:00.000,27091,2019-11-29 12:39:00.000,...,2019-11-29 13:01:00.000,1.26,50,0,999999,2020-10-01 16:40:14.060,2019-11-29,2019-11-29,2010-12-21,3265 days

INR['timediff>0'] = np.where(INR['timediff'] >= timedelta(days=0), '1', '0')
INR

In [39]:
INR_timediff_over0 =  INR[INR['timediff'] >= timedelta(days=0)]
INR_timediff_over0.ReportNo

38       -23634798
39       -23753420
40       -24050683
41       -24367814
42       -23020618
            ...
463233   -65394543
463234   -65537901
463235   -65789014
463236   -67179039
463237   -67605771
Name: ReportNo, Length: 62539, dtype: int64

In [40]:
INR_timediff_over0 = pd.DataFrame(INR_timediff_over0.groupby('PatientNo')['timediff'].min())
#2568

In [41]:
INR = pd.merge(INR , INR_timediff_over0 , how='left',on='PatientNo')

In [42]:
# 用藥後第一筆INR值，2568人
INR_2568 = INR[INR['timediff_x'] == INR['timediff_y']]
INR_2568['a_INR_ReportNo'] = INR_2568.groupby('PatientNo')['ReportNo'].transform(max)
INR_2568 = INR_2568[INR_2568['ReportNo'] == INR_2568['a_INR_ReportNo'] ]
INR_2568 = INR_2568.rename(columns={'timediff_x':'timediff'})
INR_2568 = INR_2568.drop(columns=['timediff_y','a_INR_ReportNo'])
# a_INR_ReportNo = pd.DataFrame(INR_2568.groupby('PatientNo')['ReportNo'].max())
# .to_excel(r'C:\Users\cmuh1\VSCode\jupter\test.xlsx')

C:\Users\cmuh1\AppData\Local\Temp\ipykernel_12648\3509648810.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  INR_2568['a_INR_ReportNo'] = INR_2568.groupby('PatientNo')['ReportNo'].transform(max)

In [43]:
# INR多出來的欄位刪除
INR = INR.rename(columns={'timediff_x':'timediff'})
INR = INR.drop(columns='timediff_y')

In [44]:
INR_timediff_less0 =  INR[INR['timediff'] < timedelta(days=0)]
# INR_timediff_less0 =  INR[INR['timediff'] <= timedelta(days=0)]
# INR_timediff_less0

In [45]:
INR_timediff_less0 = pd.DataFrame(INR_timediff_less0.groupby('PatientNo')['timediff'].max())
#2070

In [46]:
INR_timediff_less0

              timediff
PatientNo
100000000498   -2 days
100000001159   -4 days
100000001395  -82 days
100000001714  -38 days
100000002752 -278 days
...                ...
100035813655  -27 days
100035855640   -8 days
100035861165   -3 days
100035863490   -1 days
100035892222   -1 days

[1886 rows x 1 columns]

In [47]:
INR = pd.merge(INR , INR_timediff_less0 , how='left',on='PatientNo')

In [48]:
INR

,ReportNo,ExamItemNo,ExamItemName,PatientNo,GenotypeName,VisitNo,OrderUser,OrderTime,RegisterUser,RegisterTime,...,ReprtValue,RiskStatus,RefNo,SystemUser,SystemTime,INR_OrderTime,INR_ReportTime,Drug_OrderTime_min,timediff_x,timediff_y
0,-24557302,282280,INR,100000000498,20191209_GT3_ARRAY_371_C02_TPMI.CEL,-201452636,13577,2010-03-14 22:59:00.000,15966,2010-03-14 23:31:00.000,...,0.89,50,0,999999,2019-01-04 13:13:38.073,2010-03-14,2010-03-14,2010-08-12,-151 days,-2 days
1,-23233387,282280,INR,100000000498,20191209_GT3_ARRAY_371_C02_TPMI.CEL,-201508325,11434,2010-08-09 13:28:00.000,14903,2010-08-09 16:31:00.000,...,0.92,0,0,999999,2019-01-06 22:33:29.713,2010-08-09,2010-08-09,2010-08-12,-3 days,-2 days
2,-23295333,282280,INR,100000000498,20191209_GT3_ARRAY_371_C02_TPMI.CEL,-201508325,4752,2010-08-10 14:56:00.000,16071,2010-08-10 15:13:00.000,...,0.97,0,0,999999,2019-01-06 22:58:17.500,2010-08-10,2010-08-10,2010-08-12,-2 days,-2 days
3,-23634798,282307,INR,100000000498,20191209_GT3_ARRAY_371_C02_TPMI.CEL,-300768364,14401,2010-08-12 10:20:00.000,2052,2010-08-16 10:32:00.000,...,1.22,0,0,999999,2019-01-07 01:14:01.357,2010-08-12,2010-08-16,2010-08-12,4 days,-2 days
4,-23753420,282307,INR,100000000498,20191209_GT3_ARRAY_371_C02_TPMI.CEL,-300768364,14401,2010-08-16 13:48:00.000,15599,2010-08-18 07:01:00.000,...,2.05,0,0,999999,2019-01-07 02:02:59.190,2010-08-16,2010-08-18,2010-08-12,6 days,-2 days
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
69846,-65394543,282280,INR,100036202057,20200818_GT8_ARRAY_4092_B05_TPMI.CEL,-203023994,23241,2020-04-16 14:55:00.000,16071,2020-04-16 15:03:00.000,...,1.27,50,0,999999,2021-09-29 20:06:10.093,2020-04-16,2020-04-16,2019-07-24,267 days,NaT
69847,-65537901,282280,INR,100036202057,20200818_GT8_ARRAY_4092_B05_TPMI.CEL,-203029153,24756,2020-05-02 13:21:00.000,20951,2020-05-02 13:31:00.000,...,1.07,0,0,999999,2021-09-30 09:19:06.167,2020-05-02,2020-05-02,2019-07-24,283 days,NaT
69848,-65789014,282307,INR,100036202057,20200818_GT8_ARRAY_4092_B05_TPMI.CEL,-301505712,2292,2020-05-27 08:33:00.000,0,2020-05-28 06:25:00.000,...,1.13,0,0,999999,2021-10-01 03:07:25.000,2020-05-27,2020-05-28,2019-07-24,309 days,NaT
69849,-67179039,282280,INR,100036202057,20200818_GT8_ARRAY_4092_B05_TPMI.CEL,-203089107,15716,2020-10-06 02:19:00.000,25529,2020-10-06 02:34:00.000,...,1.06,0,0,999999,2021-10-05 06:34:01.813,2020-10-06,2020-10-06,2019-07-24,440 days,NaT
69850,-67605771,282280,INR,100036202057,20200818_GT8_ARRAY_4092_B05_TPMI.CEL,-203105606,27154,2020-11-13 21:03:00.000,28001,2020-11-13 21:25:00.000,...,1.52,50,0,999999,2021-10-06 14:31:25.450,2020-11-13,2020-11-13,2019-07-24,478 days,NaT

In [49]:
# 用藥前最近一筆INR，1886人
INR1886 = INR[INR['timediff_x'] == INR['timediff_y']]
INR1886['b_INR_ReportNo'] = INR1886.groupby('PatientNo')['ReportNo'].transform(min)
INR1886 = INR1886[INR1886['ReportNo'] ==INR1886['b_INR_ReportNo'] ]
INR1886 = INR1886.rename(columns={'timediff_x':'timediff'})
INR1886 = INR1886.drop(columns=['timediff_y','b_INR_ReportNo'])
# b_INR_ReportNo = pd.DataFrame(INR2070.groupby('PatientNo')['ReportNo'].min())

C:\Users\cmuh1\AppData\Local\Temp\ipykernel_12648\1937918387.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  INR1886['b_INR_ReportNo'] = INR1886.groupby('PatientNo')['ReportNo'].transform(min)

In [50]:
drug_gene_diag_INR = pd.merge( drug_gene_diag , INR1886 , how='left' , on='PatientNo')

In [51]:
drug_gene_diag_INR = drug_gene_diag_INR.rename(columns={'OrderNo_x':'OrderNo','VisitNo_x':'VisitNo','GenotypeName_x':'GenotypeName','Sex_x':'Sex','OrderTime_x':'OrderTime','SystemUser_x':'SystemUser','SystemTime_x':'SystemTime'\
    ,'OrderTime1_x':'OrderTime1','GenotypeName_y':'gene_GenotypeName','Sex_y':'gene_Sex','VisitNo_y':'b_INR_VisitNo','OrderUser':'b_INR_OrderUser','OrderTime_y':'b_INR_OrderTime','RegisterUser':'b_INR_RegisterUser',
'RegisterTime':'b_INR_RegisterTime','ExamUser':'b_INR_ExamUser','ExamTime':'b_INR_ExamTime','ReportUser':'b_INR_ReportUser','ReportTime':'b_INR_ReportTime','ReprtValue':'b_INR_ReprtValue','RiskStatus':'b_INR_RiskStatus','RefNo':'b_INR_RefNo',
'SystemUser_y':'b_INR_SystemUser','SystemTime_y':'b_INR_SystemTime','INR_OrderTime':'b_INR_INR_OrderTime','INR_ReportTime':'b_INR_INR_ReportTime',
'Drug_OrderTime_min':'b_INR_Drug_OrderTime_min','timediff':'b_INR_timediff'})
drug_gene_diag_INR.columns

Index(['OrderNo', 'OrderSource', 'VisitNo', 'PatientNo', 'GenotypeName', 'Sex',
       'MedType', 'MedCode', 'Dosage', 'IngredDosage', 'UsageNo', 'UsedTimeNo',
       'WayNo', 'UsedDays', 'KeepTime', 'TotalQty', 'IngredQty', 'IsSelf',
       'IsMill', 'IsCharge', 'Advise', 'OrderTime', 'StartUser', 'StartTime',
       'EndTime', 'EndUser', 'TranTime', 'TranStatus', 'SystemUser',
       'SystemTime', 'OrderTime1', 'OrderTime_min', 'OrderNo_min',
       'gene_GenotypeName', 'gene_Sex', 'Birthday', 'Age', 'warfarinCount',
       'warfarin_Ph', 'rs1799853', 'rs1057910', 'rs9923231', 'rs2108622',
       'varianttype', 'OrderTime_cancer', 'Malignancy_count', 'Malignancy',
       'b_drug_cancer', 'a_drug_cancer', 'Atrial_fibrillation', 'DVT_PE',
       'Mechanical_aortic_valve', 'CV_before', 'Atrial_fibrillation_before',
       'DVT_PE_before', 'Mechanical_aortic_valve_before', 'ReportNo',
       'ExamItemNo', 'ExamItemName', 'GenotypeName', 'b_INR_VisitNo',
       'b_INR_OrderUser', 'b_INR_OrderTime', 'b_INR_RegisterUser',
       'b_INR_RegisterTime', 'b_INR_ExamUser', 'b_INR_ExamTime',
       'b_INR_ReportUser', 'b_INR_ReportTime', 'b_INR_ReprtValue',
       'b_INR_RiskStatus', 'b_INR_RefNo', 'b_INR_SystemUser',
       'b_INR_SystemTime', 'b_INR_INR_OrderTime', 'b_INR_INR_ReportTime',
       'b_INR_Drug_OrderTime_min', 'b_INR_timediff'],
      dtype='object')

In [52]:
INR_2568

,ReportNo,ExamItemNo,ExamItemName,PatientNo,GenotypeName,VisitNo,OrderUser,OrderTime,RegisterUser,RegisterTime,...,ReportTime,ReprtValue,RiskStatus,RefNo,SystemUser,SystemTime,INR_OrderTime,INR_ReportTime,Drug_OrderTime_min,timediff
3,-23634798,282307,INR,100000000498,20191209_GT3_ARRAY_371_C02_TPMI.CEL,-300768364,14401,2010-08-12 10:20:00.000,2052,2010-08-16 10:32:00.000,...,2010-08-16 11:08:00.000,1.22,0,0,999999,2019-01-07 01:14:01.357,2010-08-12,2010-08-16,2010-08-12,4 days
32,-55890467,282307,INR,100000001159,20190417_GT2_ARRAY_72_A03_TPMI.CEL,-301388159,14729,2018-12-21 12:38:00.000,28001,2018-12-24 05:26:00.000,...,2018-12-24 06:07:00.000,1.13,0,0,999999,2019-11-17 06:18:58.370,2018-12-21,2018-12-24,2018-12-21,3 days
44,-8766404,282280,INR,100000001395,20191104_GT24_ARRAY_661_F02_TPMI.CEL,-202160314,17073,2015-02-01 03:34:00.000,3507,2015-02-01 03:46:00.000,...,2015-02-01 04:01:00.000,1.49,50,0,999999,2018-12-20 05:57:45.530,2015-02-01,2015-02-01,2015-02-01,0 days
65,-16235849,282280,INR,100000001714,20200709_GT2_ARRAY_260_F10_TPMI.CEL,-168170297,7019,2016-02-13 10:49:00.000,15166,2016-02-19 08:50:00.000,...,2016-02-19 16:45:00.000,0.98,0,0,999999,2018-12-20 14:42:24.887,2016-02-13,2016-02-19,2016-02-13,6 days
70,-33867055,147,INR,100000002675,20191125_GT23_ARRAY_700_D08_TPMI.CEL,-134397275,4312,2004-02-09 18:21:00.000,8241,2004-03-06 09:06:00.000,...,2004-03-06 09:51:00.000,1.39,50,0,999999,2019-01-14 23:42:35.050,2004-02-09,2004-03-06,2003-10-20,138 days
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
69796,-60209899,282280,INR,100035861165,20200618_GT3_ARRAY_2175_H10_TPMI.CEL,-301473995,14729,2019-12-13 16:53:00.000,33604,2019-12-16 05:45:00.000,...,2019-12-16 06:16:00.000,1.20,0,0,999999,2020-10-02 05:35:23.067,2019-12-13,2019-12-16,2019-12-12,4 days
69808,-60218044,282280,INR,100035863490,20200514_GT3_ARRAY_213_E03_TPMI.CEL,-301474062,34698,2019-12-13 07:48:00.000,2052,2019-12-16 08:14:00.000,...,2019-12-16 10:24:00.000,1.52,50,0,999999,2020-10-02 05:54:24.530,2019-12-13,2019-12-16,2019-12-10,6 days
69819,-60365276,282280,INR,100035892222,20200709_GT7_ARRAY_2187_A11_TPMI.CEL,-301476380,10760,2019-12-22 15:47:00.000,2052,2019-12-23 07:51:00.000,...,2019-12-23 09:01:00.000,1.34,50,0,999999,2020-10-02 12:37:43.697,2019-12-22,2019-12-23,2019-12-19,4 days
69830,-60353324,282280,INR,100035901923,20200416_GT8_ARRAY_133_G10_TPMI.CEL,-202976262,23238,2019-12-22 10:23:00.000,31255,2019-12-22 10:49:00.000,...,2019-12-22 11:16:00.000,3.22,50,0,999999,2020-10-02 11:47:18.653,2019-12-22,2019-12-22,2019-12-22,0 days
69839,-58867397,282280,INR,100036202057,20200818_GT8_ARRAY_4092_B05_TPMI.CEL,-301440742,7019,2019-07-24 16:34:00.000,28087,2019-07-24 18:49:00.000,...,2019-07-24 19:16:00.000,1.65,50,0,999999,2020-09-29 20:07:15.680,2019-07-24,2019-07-24,2019-07-24,0 days

In [53]:
drug_gene_diag_INR = pd.merge( drug_gene_diag_INR , INR_2568 , how='left' , on='PatientNo')
# drug_gene_diag_INR.to_excel(r'C:\Users\cmuh1\VSCode\jupter\ALL.xlsx')

In [54]:
drug_gene_diag_INR = drug_gene_diag_INR.rename(columns={
'VisitNo_x':'VisitNo','GenotypeName_x':'GenotypeName','OrderTime_x':'OrderTime','SystemUser_x':'SystemUser',
'SystemTime_x':'SystemTime','ReportNo_x':'b_INR_ReportNo','ExamItemNo_x':'b_INR_ExamItemNo','ExamItemName_x':'b_INR_ExamItemName',
'GenotypeName_x':'b_INR_GenotypeName','ReportNo_y':'a_INR_ReportNo','ExamItemNo_y':'a_INR_ExamItemNo','ExamItemName_y':'a_INR_ExamItemName',
'GenotypeName_y':'a_INR_GenotypeName','VisitNo_y':'a_INR_VisitNo','OrderUser':'a_INR_OrderUser','OrderTime_y':'a_INR_OrderTime','RegisterUser':'a_INR_RegisterUser',
'RegisterTime':'a_INR_RegisterTime','ExamUser':'a_INR_ExamUser','ExamTime':'a_INR_ExamTime','ReportUser':'a_INR_ReportUser','ReportTime':'a_INR_ReportTime',
'ReprtValue':'a_INR_ReprtValue','RiskStatus':'a_INR_RiskStatus','RefNo':'a_INR_RefNo','SystemUser_y':'a_INR_SystemUser','SystemTime_y':'a_INR_SystemTime',
'INR_OrderTime':'a_INR_INR_OrderTime','INR_ReportTime':'a_INR_INR_ReportTime','Drug_OrderTime_min':'a_INR_Drug_OrderTime_min','timediff':'a_INR_timediff'})
drug_gene_diag_INR.columns

Index(['OrderNo', 'OrderSource', 'VisitNo', 'PatientNo', 'b_INR_GenotypeName',
       'Sex', 'MedType', 'MedCode', 'Dosage', 'IngredDosage', 'UsageNo',
       'UsedTimeNo', 'WayNo', 'UsedDays', 'KeepTime', 'TotalQty', 'IngredQty',
       'IsSelf', 'IsMill', 'IsCharge', 'Advise', 'OrderTime', 'StartUser',
       'StartTime', 'EndTime', 'EndUser', 'TranTime', 'TranStatus',
       'SystemUser', 'SystemTime', 'OrderTime1', 'OrderTime_min',
       'OrderNo_min', 'gene_GenotypeName', 'gene_Sex', 'Birthday', 'Age',
       'warfarinCount', 'warfarin_Ph', 'rs1799853', 'rs1057910', 'rs9923231',
       'rs2108622', 'varianttype', 'OrderTime_cancer', 'Malignancy_count',
       'Malignancy', 'b_drug_cancer', 'a_drug_cancer', 'Atrial_fibrillation',
       'DVT_PE', 'Mechanical_aortic_valve', 'CV_before',
       'Atrial_fibrillation_before', 'DVT_PE_before',
       'Mechanical_aortic_valve_before', 'b_INR_ReportNo', 'b_INR_ExamItemNo',
       'b_INR_ExamItemName', 'b_INR_GenotypeName', 'b_INR_VisitNo',
       'b_INR_OrderUser', 'b_INR_OrderTime', 'b_INR_RegisterUser',
       'b_INR_RegisterTime', 'b_INR_ExamUser', 'b_INR_ExamTime',
       'b_INR_ReportUser', 'b_INR_ReportTime', 'b_INR_ReprtValue',
       'b_INR_RiskStatus', 'b_INR_RefNo', 'b_INR_SystemUser',
       'b_INR_SystemTime', 'b_INR_INR_OrderTime', 'b_INR_INR_ReportTime',
       'b_INR_Drug_OrderTime_min', 'b_INR_timediff', 'a_INR_ReportNo',
       'a_INR_ExamItemNo', 'a_INR_ExamItemName', 'a_INR_GenotypeName',
       'a_INR_VisitNo', 'a_INR_OrderUser', 'a_INR_OrderTime',
       'a_INR_RegisterUser', 'a_INR_RegisterTime', 'a_INR_ExamUser',
       'a_INR_ExamTime', 'a_INR_ReportUser', 'a_INR_ReportTime',
       'a_INR_ReprtValue', 'a_INR_RiskStatus', 'a_INR_RefNo',
       'a_INR_SystemUser', 'a_INR_SystemTime', 'a_INR_INR_OrderTime',
       'a_INR_INR_ReportTime', 'a_INR_Drug_OrderTime_min', 'a_INR_timediff'],
      dtype='object')

In [55]:
# drug_gene_diag_INR.to_excel(r'C:\Users\cmuh1\VSCode\ALL3.xlsx')
INR = INR.rename(columns={'timediff_x':'timediff'})
INR = INR.drop(columns=['timediff_y'])

In [56]:
# INR時間分區
Fday5 =  (INR['timediff'] >= timedelta(days=5)) #& (INR['timediff'] < timedelta(days=7))
day5 =  (INR['timediff'] >= timedelta(days=5)) & (INR['timediff'] < timedelta(days=7))
day7 = (INR['timediff'] >= timedelta(days=7)) & (INR['timediff'] < timedelta(days=14))
day14 = (INR['timediff'] >= timedelta(days=14)) & (INR['timediff'] < timedelta(days=28))
day28 = (INR['timediff'] >= timedelta(days=28)) & (INR['timediff'] < timedelta(days=56))
day56 = (INR['timediff'] >= timedelta(days=56)) & (INR['timediff'] < timedelta(days=84))

day84 = (INR['timediff'] >= timedelta(days=84)) & (INR['timediff'] < timedelta(days=168))
# day90 = (INR_2568['timediff'] > timedelta(days=90))

In [57]:
D5 = INR[day5]
D5.columns

Index(['ReportNo', 'ExamItemNo', 'ExamItemName', 'PatientNo', 'GenotypeName',
       'VisitNo', 'OrderUser', 'OrderTime', 'RegisterUser', 'RegisterTime',
       'ExamUser', 'ExamTime', 'ReportUser', 'ReportTime', 'ReprtValue',
       'RiskStatus', 'RefNo', 'SystemUser', 'SystemTime', 'INR_OrderTime',
       'INR_ReportTime', 'Drug_OrderTime_min', 'timediff'],
      dtype='object')

In [58]:
D5['Time_min'] = D5.groupby('PatientNo')['timediff'].transform('min')
D5['ReportTime_min'] = D5.groupby('PatientNo')['ReportTime'].transform('min')
# D5['Report_max'] = D5.groupby('PatientNo')['ReportNo'].transform('max')
D5 = D5[(D5.timediff == D5.Time_min)&(D5.ReportTime == D5.ReportTime_min)][['PatientNo', 'ReportTime', 'ReprtValue', 'timediff']]
D5['Interval'] = 'Day5'

C:\Users\cmuh1\AppData\Local\Temp\ipykernel_12648\1176207463.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  D5['Time_min'] = D5.groupby('PatientNo')['timediff'].transform('min')
C:\Users\cmuh1\AppData\Local\Temp\ipykernel_12648\1176207463.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  D5['ReportTime_min'] = D5.groupby('PatientNo')['ReportTime'].transform('min')

In [59]:
# Fday5
FD5 = INR[Fday5]
FD5['Time_min'] = FD5.groupby('PatientNo')['timediff'].transform('min')
FD5['ReportTime_min'] = FD5.groupby('PatientNo')['ReportTime'].transform('min')
# D5['Report_max'] = D5.groupby('PatientNo')['ReportNo'].transform('max')
FD5 = FD5[(FD5.timediff == FD5.Time_min)&(FD5.ReportTime == FD5.ReportTime_min)][['PatientNo', 'ReportTime', 'ReprtValue', 'timediff']]
FD5['Interval'] = 'First_day5'



#day7
D7 = INR[day7]
D7['Time_min'] = D7.groupby('PatientNo')['timediff'].transform('min')
D7['ReportTime_min'] = D7.groupby('PatientNo')['ReportTime'].transform('min')
D7 = D7[(D7.timediff == D7.Time_min)&(D7.ReportTime == D7.ReportTime_min)][['PatientNo', 'ReportTime', 'ReprtValue', 'timediff']]
D7['Interval'] = 'Day7'
# D7

#day14
D14 = INR[day14]
D14['Time_min'] = D14.groupby('PatientNo')['timediff'].transform('min')
D14['ReportTime_min'] = D14.groupby('PatientNo')['ReportTime'].transform('min')
# D14['Report_max'] = D14.groupby('PatientNo')['ReportNo'].transform('max')
D14 = D14[(D14.timediff == D14.Time_min)&(D14.ReportTime == D14.ReportTime_min)][['PatientNo', 'ReportTime', 'ReprtValue', 'timediff']]
D14['Interval'] = 'Day14'
# D14

#day28
D28 = INR[day28]
D28['Time_min'] = D28.groupby('PatientNo')['timediff'].transform('min')
D28['ReportTime_min'] = D28.groupby('PatientNo')['ReportTime'].transform('min')
# D28['Report_max'] = D28.groupby('PatientNo')['ReportNo'].transform('max')
D28 = D28[(D28.timediff == D28.Time_min)&(D28.ReportTime == D28.ReportTime_min)][['PatientNo', 'ReportTime', 'ReprtValue', 'timediff']]
D28['Interval'] = 'Day28'
# D30

#day56
D56 = INR[day56]
D56['Time_min'] = D56.groupby('PatientNo')['timediff'].transform('min')
D56['ReportTime_min'] = D56.groupby('PatientNo')['ReportTime'].transform('min')
# D56['Report_max'] = D56.groupby('PatientNo')['ReportNo'].transform('max')
D56 = D56[(D56.timediff == D56.Time_min)&(D56.ReportTime == D56.ReportTime_min)][['PatientNo', 'ReportTime', 'ReprtValue', 'timediff']]
D56['Interval'] = 'Day56'
# D60

#day84
D84 = INR[day84]
D84['Time_min'] = D84.groupby('PatientNo')['timediff'].transform('min')
D84['ReportTime_min'] = D84.groupby('PatientNo')['ReportTime'].transform('min')
# # D84['Report_max'] = D84.groupby('PatientNo')['ReportNo'].transform('max')
D84 = D84[(D84.timediff == D84.Time_min)&(D84.ReportTime == D84.ReportTime_min)][['PatientNo', 'ReportTime', 'ReprtValue', 'timediff']]
D84['Interval'] = 'Day84'
# D90
#第一筆INR>90
# D90 = INR_2568[day90]
# D90 = D90.loc[:,['PatientNo','ReportTime','ReprtValue','timediff']]
# D90['Interval'] = 'Day90'
# D90

D5 = D5.drop_duplicates()
D7 = D7.drop_duplicates()
D14 = D14.drop_duplicates()
D28 = D28.drop_duplicates()
D56 = D56.drop_duplicates()
D84 = D84.drop_duplicates()
FD5 = FD5.drop_duplicates()

C:\Users\cmuh1\AppData\Local\Temp\ipykernel_12648\2036260021.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  FD5['Time_min'] = FD5.groupby('PatientNo')['timediff'].transform('min')
C:\Users\cmuh1\AppData\Local\Temp\ipykernel_12648\2036260021.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  FD5['ReportTime_min'] = FD5.groupby('PatientNo')['ReportTime'].transform('min')
C:\Users\cmuh1\AppData\Local\Temp\ipykernel_12648\2036260021.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  D7['Time_min'] = D7.groupby('PatientNo')['timediff'].transform('min')
C:\Users\cmuh1\AppData\Local\Temp\ipykernel_12648\2036260021.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  D7['ReportTime_min'] = D7.groupby('PatientNo')['ReportTime'].transform('min')
C:\Users\cmuh1\AppData\Local\Temp\ipykernel_12648\2036260021.py:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  D14['Time_min'] = D14.groupby('PatientNo')['timediff'].transform('min')
C:\Users\cmuh1\AppData\Local\Temp\ipykernel_12648\2036260021.py:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  D14['ReportTime_min'] = D14.groupby('PatientNo')['ReportTime'].transform('min')
C:\Users\cmuh1\AppData\Local\Temp\ipykernel_12648\2036260021.py:30: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  D28['Time_min'] = D28.groupby('PatientNo')['timediff'].transform('min')
C:\Users\cmuh1\AppData\Local\Temp\ipykernel_12648\2036260021.py:31: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  D28['ReportTime_min'] = D28.groupby('PatientNo')['ReportTime'].transform('min')
C:\Users\cmuh1\AppData\Local\Temp\ipykernel_12648\2036260021.py:39: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  D56['Time_min'] = D56.groupby('PatientNo')['timediff'].transform('min')
C:\Users\cmuh1\AppData\Local\Temp\ipykernel_12648\2036260021.py:40: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  D56['ReportTime_min'] = D56.groupby('PatientNo')['ReportTime'].transform('min')
C:\Users\cmuh1\AppData\Local\Temp\ipykernel_12648\2036260021.py:48: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  D84['Time_min'] = D84.groupby('PatientNo')['timediff'].transform('min')
C:\Users\cmuh1\AppData\Local\Temp\ipykernel_12648\2036260021.py:49: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  D84['ReportTime_min'] = D84.groupby('PatientNo')['ReportTime'].transform('min')

In [60]:
FD5

          PatientNo               ReportTime ReprtValue timediff    Interval
4      100000000498  2010-08-18 07:41:00.000       2.05   6 days  First_day5
33     100000001159  2018-12-30 05:58:00.000       1.58   9 days  First_day5
46     100000001395  2015-02-27 09:00:00.000       1.99  26 days  First_day5
65     100000001714  2016-02-19 16:45:00.000       0.98   6 days  First_day5
70     100000002675  2004-03-06 09:51:00.000       1.39 138 days  First_day5
...             ...                      ...        ...      ...         ...
69797  100035861165  2019-12-19 06:06:00.000       1.16   7 days  First_day5
69808  100035863490  2019-12-16 10:24:00.000       1.52   6 days  First_day5
69820  100035892222  2019-12-30 08:33:00.000       3.50  11 days  First_day5
69831  100035901923  2019-12-27 15:55:00.000       1.43   5 days  First_day5
69841  100036202057  2019-07-30 07:30:00.000       1.89   6 days  First_day5

[2527 rows x 5 columns]

In [61]:
D7

          PatientNo               ReportTime ReprtValue timediff Interval
5      100000000498  2010-08-23 10:37:00.000       2.33  11 days     Day7
33     100000001159  2018-12-30 05:58:00.000       1.58   9 days     Day7
313    100000007287  2012-01-16 10:05:00.000       1.29   7 days     Day7
331    100000009727  2015-02-03 16:46:00.000       1.00  12 days     Day7
341    100000014227  2014-08-08 07:29:00.000       5.09   9 days     Day7
...             ...                      ...        ...      ...      ...
69765  100035813471  2019-12-24 05:48:00.000       1.12   8 days     Day7
69797  100035861165  2019-12-19 06:06:00.000       1.16   7 days     Day7
69809  100035863490  2019-12-23 09:01:00.000       2.18  13 days     Day7
69820  100035892222  2019-12-30 08:33:00.000       3.50  11 days     Day7
69842  100036202057  2019-08-02 07:08:00.000       1.64   9 days     Day7

[1288 rows x 5 columns]

In [62]:
D14

          PatientNo               ReportTime ReprtValue timediff Interval
6      100000000498  2010-08-28 09:19:00.000       3.51  16 days    Day14
36     100000001159  2019-01-04 06:25:00.000       1.81  14 days    Day14
46     100000001395  2015-02-27 09:00:00.000       1.99  26 days    Day14
155    100000003347  2013-10-14 12:11:00.000       1.12  14 days    Day14
261    100000006199  2005-11-08 10:44:00.000       1.37  18 days    Day14
...             ...                      ...        ...      ...      ...
69773  100035825121  2019-12-12 10:35:00.000       1.02  16 days    Day14
69784  100035855640  2020-01-05 21:32:00.000       3.07  17 days    Day14
69799  100035861165  2020-01-08 10:08:00.000       2.07  27 days    Day14
69810  100035863490  2019-12-26 15:14:00.000       2.20  16 days    Day14
69822  100035892222  2020-01-02 15:43:00.000       1.57  14 days    Day14

[1390 rows x 5 columns]

In [63]:
D28

          PatientNo               ReportTime ReprtValue timediff Interval
9      100000000498  2010-09-24 10:11:00.000       3.08  43 days    Day28
38     100000001159  2019-01-22 09:52:00.000       1.16  32 days    Day28
156    100000003347  2013-10-28 12:14:00.000       1.24  28 days    Day28
262    100000006199  2005-12-06 11:12:00.000       1.35  46 days    Day28
332    100000009727  2015-03-05 14:29:00.000       1.03  42 days    Day28
...             ...                      ...        ...      ...      ...
69785  100035855640  2020-01-18 08:19:00.000       1.42  30 days    Day28
69800  100035861165  2020-02-04 14:48:00.000       5.53  54 days    Day28
69813  100035863490  2020-01-09 14:31:00.000       1.07  30 days    Day28
69824  100035892222  2020-01-16 15:20:00.000       1.92  28 days    Day28
69832  100035901923  2020-02-04 10:39:00.000       2.20  44 days    Day28

[1584 rows x 5 columns]

In [64]:
D56

          PatientNo               ReportTime ReprtValue timediff Interval
10     100000000498  2010-10-16 14:55:00.000       4.37  65 days    Day56
41     100000001159  2019-02-26 08:53:00.000       0.99  67 days    Day56
157    100000003347  2013-11-25 11:01:00.000       1.24  56 days    Day56
263    100000006199  2006-01-03 11:02:00.000       1.01  74 days    Day56
360    100000018133  2003-12-13 21:35:00.000       1.67  67 days    Day56
...             ...                      ...        ...      ...      ...
69748  100035723878  2020-01-30 15:47:00.000       2.29  64 days    Day56
69789  100035855640  2020-02-13 19:33:00.000       1.39  56 days    Day56
69816  100035863490  2020-02-13 14:44:00.000       1.96  65 days    Day56
69826  100035892222  2020-02-25 10:57:00.000       1.09  68 days    Day56
69843  100036202057  2019-09-26 20:53:00.000       1.03  64 days    Day56

[1310 rows x 5 columns]

In [65]:
D84

          PatientNo               ReportTime ReprtValue timediff Interval
12     100000000498  2010-12-25 08:17:00.000       2.04 135 days    Day84
47     100000001395  2015-06-10 07:49:00.000       2.15 129 days    Day84
70     100000002675  2004-03-06 09:51:00.000       1.39 138 days    Day84
158    100000003347  2013-12-26 11:52:00.000       1.13  87 days    Day84
264    100000006199  2006-01-24 11:25:00.000       1.63  95 days    Day84
...             ...                      ...        ...      ...      ...
69801  100035861165  2020-03-10 14:22:00.000       2.76  89 days    Day84
69817  100035863490  2020-03-12 13:55:00.000       1.63  93 days    Day84
69828  100035892222  2020-03-12 15:04:00.000       3.21  84 days    Day84
69833  100035901923  2020-03-24 16:11:00.000       2.33  93 days    Day84
69844  100036202057  2019-11-10 04:06:00.000       1.20 109 days    Day84

[1527 rows x 5 columns]

In [66]:
FD5

          PatientNo               ReportTime ReprtValue timediff    Interval
4      100000000498  2010-08-18 07:41:00.000       2.05   6 days  First_day5
33     100000001159  2018-12-30 05:58:00.000       1.58   9 days  First_day5
46     100000001395  2015-02-27 09:00:00.000       1.99  26 days  First_day5
65     100000001714  2016-02-19 16:45:00.000       0.98   6 days  First_day5
70     100000002675  2004-03-06 09:51:00.000       1.39 138 days  First_day5
...             ...                      ...        ...      ...         ...
69797  100035861165  2019-12-19 06:06:00.000       1.16   7 days  First_day5
69808  100035863490  2019-12-16 10:24:00.000       1.52   6 days  First_day5
69820  100035892222  2019-12-30 08:33:00.000       3.50  11 days  First_day5
69831  100035901923  2019-12-27 15:55:00.000       1.43   5 days  First_day5
69841  100036202057  2019-07-30 07:30:00.000       1.89   6 days  First_day5

[2527 rows x 5 columns]

In [67]:
drug_gene_diag_INR = pd.merge(drug_gene_diag_INR , FD5 , how='left',on='PatientNo')
drug_gene_diag_INR = drug_gene_diag_INR.rename(columns={'ReportTime':'FirstDay5_ReportTime', 'ReprtValue':'FirstDay5_ReprtValue', 'timediff':'FirstDay5_timediff', 'Interval':'FirstDay5_Interval'})
drug_gene_diag_INR = pd.merge(drug_gene_diag_INR , D5 , how='left',on='PatientNo')
drug_gene_diag_INR = drug_gene_diag_INR.rename(columns={'ReportTime':'D5_ReportTime', 'ReprtValue':'D5_ReprtValue', 'timediff':'D5_timediff', 'Interval':'D5_Interval'})
drug_gene_diag_INR = pd.merge(drug_gene_diag_INR , D7 , how='left',on='PatientNo')
drug_gene_diag_INR = drug_gene_diag_INR.rename(columns={'ReportTime':'D7_ReportTime', 'ReprtValue':'D7_ReprtValue', 'timediff':'D7_timediff', 'Interval':'D7_Interval'})
drug_gene_diag_INR = pd.merge(drug_gene_diag_INR , D14 , how='left',on='PatientNo')
drug_gene_diag_INR = drug_gene_diag_INR.rename(columns={'ReportTime':'D14_ReportTime', 'ReprtValue':'D14_ReprtValue', 'timediff':'D14_timediff', 'Interval':'D14_Interval'})
drug_gene_diag_INR = pd.merge(drug_gene_diag_INR , D28 , how='left',on='PatientNo')
drug_gene_diag_INR = drug_gene_diag_INR.rename(columns={'ReportTime':'D28_ReportTime', 'ReprtValue':'D28_ReprtValue', 'timediff':'D28_timediff', 'Interval':'D28_Interval'})
drug_gene_diag_INR = pd.merge(drug_gene_diag_INR , D56 , how='left',on='PatientNo')
drug_gene_diag_INR = drug_gene_diag_INR.rename(columns={'ReportTime':'D56_ReportTime', 'ReprtValue':'D56_ReprtValue', 'timediff':'D56_timediff', 'Interval':'D56_Interval'})
drug_gene_diag_INR = pd.merge(drug_gene_diag_INR , D84 , how='left',on='PatientNo')
drug_gene_diag_INR = drug_gene_diag_INR.rename(columns={'ReportTime':'D84_ReportTime', 'ReprtValue':'D84_ReprtValue', 'timediff':'D84_timediff', 'Interval':'D84_Interval'})

In [68]:
# drug_gene_diag_INR.to_excel(r'C:\Users\cmuh1\VSCode\ALL-0310.xlsx')

In [69]:
INR_2568_CV = pd.merge(INR_2568 , CV , how='left' , on='PatientNo')

In [70]:
# 用藥後CV分群，用INR2568人數合併Diag有CV碼
INR_2568_CV['Atrial_fibrillation'].fillna(0)
INR_2568_CV['DVT_PE'].fillna(0)
INR_2568_CV['Mechanical_aortic_valve'].fillna(0)
INR_2568_CV_AF = INR_2568_CV[INR_2568_CV['Atrial_fibrillation'] == 1]
INR_2568_CV_DP = INR_2568_CV[INR_2568_CV['DVT_PE'] == 1]
INR_2568_CV_MAV = INR_2568_CV[INR_2568_CV['Mechanical_aortic_valve'] == 1]

INR_2568_CV_AF.ReprtValue = INR_2568_CV_AF.ReprtValue.astype('float')
INR_2568_CV_DP.ReprtValue = INR_2568_CV_DP.ReprtValue.astype('float')
INR_2568_CV_MAV.ReprtValue = INR_2568_CV_MAV.ReprtValue.astype('float')

C:\Users\cmuh1\AppData\Local\Temp\ipykernel_12648\1937191149.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  INR_2568_CV_AF.ReprtValue = INR_2568_CV_AF.ReprtValue.astype('float')
C:\Users\cmuh1\AppData\Local\Temp\ipykernel_12648\1937191149.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  INR_2568_CV_DP.ReprtValue = INR_2568_CV_DP.ReprtValue.astype('float')
C:\Users\cmuh1\AppData\Local\Temp\ipykernel_12648\1937191149.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  INR_2568_CV_MAV.ReprtValue = INR_2568_CV_MAV.ReprtValue.astype('float')

In [71]:
# CV  每個症狀各個INR範圍
INR_2568_CV_AF = INR_2568_CV_AF[(INR_2568_CV_AF.ReprtValue >=1.8) & (INR_2568_CV_AF.ReprtValue <=3.0)]
INR_2568_CV_DP = INR_2568_CV_DP[(INR_2568_CV_DP.ReprtValue >=1.8) & (INR_2568_CV_DP.ReprtValue <=2.4)]
INR_2568_CV_MAV = INR_2568_CV_MAV[(INR_2568_CV_MAV.ReprtValue >=2.0) & (INR_2568_CV_MAV.ReprtValue <=3.0)]

In [72]:
INR_2568_CV_AF = INR_2568_CV_AF.loc[: , ['PatientNo','ReportTime' , 'ReprtValue' , 'timediff']]
INR_2568_CV_AF['AF_target'] = 1 
INR_2568_CV_AF

INR_2568_CV_DP = INR_2568_CV_DP.loc[: , ['PatientNo','ReportTime' , 'ReprtValue' , 'timediff']]
INR_2568_CV_DP['DP_target'] = 1 
INR_2568_CV_DP

INR_2568_CV_MAV = INR_2568_CV_MAV.loc[: , ['PatientNo','ReportTime' , 'ReprtValue' , 'timediff']]
INR_2568_CV_MAV['MAA_target'] = 1 
INR_2568_CV_MAV

         PatientNo               ReportTime  ReprtValue timediff  MAA_target
86    100000159424  2007-09-22 12:21:00.000        2.94   0 days           1
272   100000396253  2011-01-20 12:02:00.000        2.09   0 days           1
334   100000486118  2019-05-08 11:48:00.000        2.13  83 days           1
489   100000655420  2018-12-27 09:24:00.000        2.66   0 days           1
1174  100014725851  2013-06-26 15:45:00.000        2.60   0 days           1
2252  100029372651  2018-07-13 07:33:00.000        2.11   0 days           1
2515  100034736509  2019-04-23 11:31:00.000        2.50  84 days           1

In [73]:
# CV合併回大表
drug_gene_diag_INR = pd.merge(drug_gene_diag_INR ,INR_2568_CV_AF , how='left' , on='PatientNo' )
drug_gene_diag_INR = drug_gene_diag_INR.rename(columns={'ReportTime':'AF_ReportTime','ReprtValue':'AF_ReprtValue','timediff':'AF_timediff'})
# drug_gene_diag_INR['AF_ReportTime'] = drug_gene_diag_INR['AF_ReportTime'].fillna(0)
# drug_gene_diag_INR['AF_ReprtValue'] = drug_gene_diag_INR['AF_ReprtValue'].fillna(0)
# drug_gene_diag_INR['AF_target'] = drug_gene_diag_INR['AF_target'].fillna(0)

drug_gene_diag_INR = pd.merge(drug_gene_diag_INR ,INR_2568_CV_DP , how='left' , on='PatientNo' )
drug_gene_diag_INR = drug_gene_diag_INR.rename(columns={'ReportTime':'DP_ReportTime','ReprtValue':'DP_ReprtValue','timediff':'DP_timediff'})
# drug_gene_diag_INR['DP_ReportTime'] = drug_gene_diag_INR['DP_ReportTime'].fillna(0)
# drug_gene_diag_INR['DP_ReprtValue'] = drug_gene_diag_INR['DP_ReprtValue'].fillna(0)
# drug_gene_diag_INR['DP_target'] = drug_gene_diag_INR['DP_target'].fillna(0)


drug_gene_diag_INR = pd.merge(drug_gene_diag_INR ,INR_2568_CV_MAV , how='left' , on='PatientNo' )
drug_gene_diag_INR = drug_gene_diag_INR.rename(columns={'ReportTime':'MAA_ReportTime','ReprtValue':'MAA_ReprtValue','timediff':'MAA_timediff'})
# drug_gene_diag_INR['MAA_ReportTime'] = drug_gene_diag_INR['MAA_ReportTime'].fillna(0)
# drug_gene_diag_INR['MAA_ReprtValue'] = drug_gene_diag_INR['MAA_ReprtValue'].fillna(0)
# drug_gene_diag_INR['MAA_target'] = drug_gene_diag_INR['MAA_target'].fillna(0)

In [74]:
INR_2568_CV['Atrial fibrillation_Count'] = INR_2568_CV.groupby('PatientNo')['Atrial_fibrillation'].transform('sum')
INR_2568_CV['DVT/PE_count'] = INR_2568_CV.groupby('PatientNo')['DVT_PE'].transform('sum')
INR_2568_CV['Mechanical aortic valve_count'] = INR_2568_CV.groupby('PatientNo')['Mechanical_aortic_valve'].transform('sum')

In [75]:
conditions = [(INR_2568_CV['Atrial fibrillation_Count'] == 1) ,(INR_2568_CV['DVT/PE_count'] == 1) , (INR_2568_CV['Mechanical aortic valve_count'] == 1) ]
values1 = [ 1 , 1 ,1]
INR_2568_CV['CV'] = np.select(conditions , values1)
INR_2568_CV_1 =   INR_2568_CV.loc[:,['PatientNo','CV']]

In [76]:
drug_gene_diag_INR = pd.merge(drug_gene_diag_INR , INR_2568_CV_1 , how='left' , on='PatientNo')

In [77]:
# 基因
# database
# grnotype : rs1799853
# conditions=[(database.rs1799853 == '0/0'), (database.rs1799853 == '0/1'), ((database.rs1799853 == '1/1')), 
#             (database.rs1799853 == '1/0'), ((database.rs1799853 == './.')), (database.rs1799853.isnull())]
# values = [ '0' , '1' , '1', '1', np.nan, np.nan]
# database['rs1799853_type'] = np.select(conditions, values)

# grnotype : rs9923231 0/1 1/1 1/0三群
conditions=[(drug_gene_diag_INR.rs1799853 == '0/0'), (drug_gene_diag_INR.rs1799853 == '0/1'), ((drug_gene_diag_INR.rs1799853 == '1/1')), 
            (drug_gene_diag_INR.rs1799853 == '1/0'), ((drug_gene_diag_INR.rs1799853 == './.')), (drug_gene_diag_INR.rs1799853.isnull())]
values = [ '0' , '1' , '2', '1', '', '']
drug_gene_diag_INR['rs1799853_type'] = np.select(conditions, values)


# grnotype : rs1057910
# conditions=[(database.rs1057910 == '0/0'), (database.rs1057910 == '0/1'), ((database.rs1057910 == '1/1')), 
#             (database.rs1057910 == '1/0'), ((database.rs1057910 == './.')), (database.rs1057910.isnull())]
# values = [ '0' , '1' , '1', '1', np.nan, np.nan]
# database['rs1057910_type'] = np.select(conditions, values)

# grnotype : rs1057910 0/1 1/1 1/0三群
conditions=[(drug_gene_diag_INR.rs1057910 == '0/0'), (drug_gene_diag_INR.rs1057910 == '0/1'), ((drug_gene_diag_INR.rs1057910 == '1/1')), 
            (drug_gene_diag_INR.rs1057910 == '1/0'), ((drug_gene_diag_INR.rs1057910 == './.')), (drug_gene_diag_INR.rs1057910.isnull())]
values = [ '0' , '1' , '2', '1', '', '']
drug_gene_diag_INR['rs1057910_type'] = np.select(conditions, values)


# grnotype : rs9923231
# conditions=[(database.rs9923231 == '0/0'), (database.rs9923231 == '0/1'), ((database.rs9923231 == '1/1')), 
#             (database.rs9923231 == '1/0'), ((database.rs9923231 == './.')), (database.rs9923231.isnull())]
# values = [ '0' , '1' , '1', '1', np.nan, np.nan]
# database['rs9923231_type'] = np.select(conditions, values)

# grnotype : rs9923231 0/1 1/1 1/0三群
conditions=[(drug_gene_diag_INR.rs9923231 == '0/0'), (drug_gene_diag_INR.rs9923231 == '0/1'), ((drug_gene_diag_INR.rs9923231 == '1/1')), 
            (drug_gene_diag_INR.rs9923231 == '1/0'), ((drug_gene_diag_INR.rs9923231 == './.')), (drug_gene_diag_INR.rs9923231.isnull())]
values = [ '0' , '1' , '2', '1', '', '']
drug_gene_diag_INR['rs9923231_type'] = np.select(conditions, values)

# grnotype : rs2108622
# conditions=[(database.rs2108622 == '0/0'), (database.rs2108622 == '0/1'), ((database.rs2108622 == '1/1')), 
#             (database.rs2108622 == '1/0'), ((database.rs2108622 == './.')), (database.rs2108622.isnull())]
# values = [ '0' , '1' , '1', '1', np.nan, np.nan]
# database['rs2108622_type'] = np.select(conditions, values)

# grnotype : rs2108622 0/1 1/1 1/0三群
conditions=[(drug_gene_diag_INR.rs2108622 == '0/0'), (drug_gene_diag_INR.rs2108622 == '0/1'), ((drug_gene_diag_INR.rs2108622 == '1/1')), 
            (drug_gene_diag_INR.rs2108622 == '1/0'), ((drug_gene_diag_INR.rs2108622 == './.')), (drug_gene_diag_INR.rs2108622.isnull())]
values = [ '0' , '1' , '2', '1', '', '']
drug_gene_diag_INR['rs2108622_type'] = np.select(conditions, values)


print('rs1799853')
print(drug_gene_diag_INR.rs1799853_type.value_counts())
print()
print('rs1057910')
print(drug_gene_diag_INR.rs1057910_type.value_counts())
print()
print('rs9923231')
print(drug_gene_diag_INR.rs9923231_type.value_counts())
print()
print('rs2108622')
print(drug_gene_diag_INR.rs2108622_type.value_counts())

rs1799853
0    2420
      191
1       3
Name: rs1799853_type, dtype: int64

rs1057910
0    2268
      187
1     153
2       6
Name: rs1057910_type, dtype: int64

rs9923231
0    1919
1     473
      189
2      33
Name: rs9923231_type, dtype: int64

rs2108622
0    1404
1     883
      193
2     134
Name: rs2108622_type, dtype: int64

In [78]:
# drug_gene_diag_INR.to_excel(r'C:\Users\cmuh1\VSCode\warfarin總表-0311(第七版).xlsx')

In [79]:
# 共病檔案
Co_morbidities = pd.read_excel(r'C:\Users\cmuh1\VSCode\Co_morbidities_0413.xlsx')

In [80]:
# 合併共病
drug_gene_diag_INR = pd.merge(drug_gene_diag_INR , Co_morbidities ,how='left' , on='PatientNo')
drug_gene_diag_INR
# .to_excel(r'C:\Users\cmuh1\VSCode\warfarin總表-0311(第七又四分之一版).xlsx')

,OrderNo,OrderSource,VisitNo,PatientNo,b_INR_GenotypeName,Sex,MedType,MedCode,Dosage,IngredDosage,...,Liver_disorders_during_pregnancy,Other_disorders_of_the_liver,before_Co_morbidities,Gastrointestinal_bleeding,Intracerebral_hemorrhage,bleeding_at_other_critical_sites,Gastrointestinal_bleeding_over2,Intracerebral_hemorrhage_over2,bleeding_at_other_critical_sites_over2,after_Co_morbidities
0,-319037674,-15,-169952329,100000025381,20190814_GT3_ARRAY_179_F06_TPMI.CEL,1,1120100,TWARFA1,1.0,0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
1,-267988057,-200000054,-301148599,100000026596,20181205_GT1_ARRAY_22_C04_TPMI.CEL,2,1310100,TCOUMAD,0.5,0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
2,-265193916,-200000014,-300945791,100000037186,20200203_GT22_ARRAY_766_C12_TPMI.CEL,2,1310100,TCOUMAD,0.5,0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
3,-98272020,-14,-161649383,100000063534,20200818_GT8_ARRAY_4092_H08_TPMI.CEL,2,1120100,TCOUMAD,0.5,0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
4,-258443955,-200000004,-301072902,100000001395,20191104_GT24_ARRAY_661_F02_TPMI.CEL,1,1310100,TCOUMAD,0.5,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2609,-740694493,-200000590,-301293831,100033542650,20190902_GT1_ARRAY_200_F07_TPMI.CEL,1,1310100,TWARFAR2,1.0,0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
2610,-304165255,-200000021,-301183514,100033806705,20200120_GT23_ARRAY_751_F10_TPMI.CEL,1,1310100,TCOUMAD,0.5,0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
2611,-675045943,-200000310,-301342004,100034082040,20200806_GT4_ARRAY_4050_F04_TPMI.CEL,1,1310100,TWARFA1,2.0,0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
2612,-639008413,-25,-179841588,100034679423,20191209_GT23_ARRAY_636_H01_TPMI.CEL,2,1110600,TWARFAR2,0.5,0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
2613,-714292209,-3,-180291144,100034765188,20200506_GT8_ARRAY_177_D11_TPMI.CEL,1,1110600,TWARFAR2,0.5,0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0

In [81]:
# 合併共藥
Co_drug = pd.read_excel(r'C:\Users\cmuh1\VSCode\CoDrug(2613).xlsx')
drug_gene_diag_INR = pd.merge(drug_gene_diag_INR , Co_drug ,how='left' , on='PatientNo')
drug_gene_diag_INR

C:\Users\cmuh1\AppData\Local\Programs\Python\Python310\lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

,OrderNo,OrderSource,VisitNo,PatientNo,b_INR_GenotypeName,Sex,MedType,MedCode,Dosage,IngredDosage,...,Other_disorders_of_the_liver,before_Co_morbidities,Gastrointestinal_bleeding,Intracerebral_hemorrhage,bleeding_at_other_critical_sites,Gastrointestinal_bleeding_over2,Intracerebral_hemorrhage_over2,bleeding_at_other_critical_sites_over2,after_Co_morbidities,codrug
0,-319037674,-15,-169952329,100000025381,20190814_GT3_ARRAY_179_F06_TPMI.CEL,1,1120100,TWARFA1,1.0,0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,-267988057,-200000054,-301148599,100000026596,20181205_GT1_ARRAY_22_C04_TPMI.CEL,2,1310100,TCOUMAD,0.5,0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,-265193916,-200000014,-300945791,100000037186,20200203_GT22_ARRAY_766_C12_TPMI.CEL,2,1310100,TCOUMAD,0.5,0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0
3,-98272020,-14,-161649383,100000063534,20200818_GT8_ARRAY_4092_H08_TPMI.CEL,2,1120100,TCOUMAD,0.5,0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0
4,-258443955,-200000004,-301072902,100000001395,20191104_GT24_ARRAY_661_F02_TPMI.CEL,1,1310100,TCOUMAD,0.5,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2609,-740694493,-200000590,-301293831,100033542650,20190902_GT1_ARRAY_200_F07_TPMI.CEL,1,1310100,TWARFAR2,1.0,0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0
2610,-304165255,-200000021,-301183514,100033806705,20200120_GT23_ARRAY_751_F10_TPMI.CEL,1,1310100,TCOUMAD,0.5,0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0
2611,-675045943,-200000310,-301342004,100034082040,20200806_GT4_ARRAY_4050_F04_TPMI.CEL,1,1310100,TWARFA1,2.0,0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0
2612,-639008413,-25,-179841588,100034679423,20191209_GT23_ARRAY_636_H01_TPMI.CEL,2,1110600,TWARFAR2,0.5,0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2613,-714292209,-3,-180291144,100034765188,20200506_GT8_ARRAY_177_D11_TPMI.CEL,1,1110600,TWARFAR2,0.5,0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

In [82]:
Dose = pd.read_excel(r'C:\Users\cmuh1\VSCode\Dose_mean.xlsx')
# Dose
drug_gene_diag_INR_dose = pd.merge(drug_gene_diag_INR, Dose, how='inner' , on='PatientNo')

In [83]:
# drug_gene_diag_INR_dose.to_excel(r'C:\Users\cmuh1\VSCode\drug_gene_diag_INR_dose_0324.xlsx')

In [84]:
# drug_gene_diag_INR_dose[(drug_gene_diag_INR_dose['rs1799853'].notnull()) & 
#                          (drug_gene_diag_INR_dose['gene_Sex'] != 0) &
#                          (drug_gene_diag_INR_dose['Age'] > 19) &
#                          (drug_gene_diag_INR_dose['a_INR_ReprtValue'].notnull()) & 
#                          (drug_gene_diag_INR_dose['b_drug_cancer'] != '1') &
#                          (drug_gene_diag_INR_dose['FirstDay5_ReprtValue'].notnull())
#                          ]
#  
drug_gene_diag_INR_dose['Amount_2188'] = np.where((drug_gene_diag_INR_dose['rs1799853'].notnull()) & 
                                                  (drug_gene_diag_INR_dose['gene_Sex'] != 0) &
                                                  (drug_gene_diag_INR_dose['Age'] > 19) &
                                                  (drug_gene_diag_INR_dose['a_INR_ReprtValue'].notnull()) & 
                                                  (drug_gene_diag_INR_dose['b_drug_cancer'] != '1') &
                                                  (drug_gene_diag_INR_dose['FirstDay5_ReprtValue'].notnull()), 1, 0)

In [85]:
# drug_gene_diag_INR_dose.to_excel(r'C:\Users\cmuh1\VSCode\drug_gene_diag_INR_dose_0328.xlsx')

In [86]:
month3 =pd.read_excel(r'C:\Users\cmuh1\VSCode\3M_INR.xlsx')

In [87]:
drug_gene_diag_INR_dose = pd.merge(drug_gene_diag_INR_dose, month3, how='left', on='PatientNo')

In [88]:
# drug_gene_diag_INR_dose.to_excel(r'C:\Users\cmuh1\VSCode\drug_gene_diag_INR_dose_0330.xlsx')

In [89]:
drug_gene_diag_INR_dose

,OrderNo,OrderSource,VisitNo,PatientNo,b_INR_GenotypeName,Sex,MedType,MedCode,Dosage,IngredDosage,...,Dose_mean56,Dose_mean84,Amount_2188,OrderTime_min84,Dose_day,OrderTime_y,ReprtValue,OrderTime1_y,timediff,3M_same
0,-319037674,-15,-169952329,100000025381,20190814_GT3_ARRAY_179_F06_TPMI.CEL,1,1120100,TWARFA1,1.0,0,...,1.334184,1.059524,1,NaT,NaN,NaT,NaN,NaT,NaN,NaN
1,-267988057,-200000054,-301148599,100000026596,20181205_GT1_ARRAY_22_C04_TPMI.CEL,2,1310100,TCOUMAD,0.5,0,...,0.153061,0.102041,0,NaT,NaN,NaT,NaN,NaT,NaN,NaN
2,-265193916,-200000014,-300945791,100000037186,20200203_GT22_ARRAY_766_C12_TPMI.CEL,2,1310100,TCOUMAD,0.5,0,...,2.748724,1.832483,1,NaT,NaN,NaT,NaN,NaT,NaN,NaN
3,-98272020,-14,-161649383,100000063534,20200818_GT8_ARRAY_4092_H08_TPMI.CEL,2,1120100,TCOUMAD,0.5,0,...,0.535714,0.357143,1,NaT,NaN,NaT,NaN,NaT,NaN,NaN
4,-258443955,-200000004,-301072902,100000001395,20191104_GT24_ARRAY_661_F02_TPMI.CEL,1,1310100,TCOUMAD,0.5,0,...,3.718112,3.656463,0,NaT,NaN,NaT,NaN,NaT,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2609,-740694493,-200000590,-301293831,100033542650,20190902_GT1_ARRAY_200_F07_TPMI.CEL,1,1310100,TWARFAR2,1.0,0,...,4.090561,4.208333,1,NaT,NaN,NaT,NaN,NaT,NaN,NaN
2610,-304165255,-200000021,-301183514,100033806705,20200120_GT23_ARRAY_751_F10_TPMI.CEL,1,1310100,TCOUMAD,0.5,0,...,2.665816,2.287415,1,NaT,NaN,NaT,NaN,NaT,NaN,NaN
2611,-675045943,-200000310,-301342004,100034082040,20200806_GT4_ARRAY_4050_F04_TPMI.CEL,1,1310100,TWARFA1,2.0,0,...,1.635204,1.090136,0,NaT,NaN,NaT,NaN,NaT,NaN,NaN
2612,-639008413,-25,-179841588,100034679423,20191209_GT23_ARRAY_636_H01_TPMI.CEL,2,1110600,TWARFAR2,0.5,0,...,2.780612,2.336310,1,NaT,NaN,NaT,NaN,NaT,NaN,NaN
2613,-714292209,-3,-180291144,100034765188,20200506_GT8_ARRAY_177_D11_TPMI.CEL,1,1110600,TWARFAR2,0.5,0,...,2.723214,2.500000,1,2019-05-14,1.25,2019-05-15 08:51:00,1.88,2019-05-15,1.0,1.0

In [90]:
BMI = pd.read_csv(r'C:\Users\cmuh1\VSCode\jupter\warfarin_Source\PharmIDandBMI.csv')
BMI = BMI.rename(columns={'PAD12':'PatientNo'})

In [91]:
drug_gene_diag_INR_dose_BMI = pd.merge(drug_gene_diag_INR_dose, BMI, how='left', on='PatientNo')

In [92]:
drug_gene_diag_INR_dose_BMI.to_excel(r'C:\Users\cmuh1\VSCode\drug_gene_diag_INR_dose_BMI0414.xlsx')

In [93]:
# d2188 = drug_gene_diag_INR_dose_BMI[(drug_gene_diag_INR_dose_BMI['Amount_2188'] == 1) 
#         & (drug_gene_diag_INR_dose_BMI['rs1057910_type'] == '0')
#         & (drug_gene_diag_INR_dose_BMI['rs1799853_type'] == '0')] 
# rs9923231_type
# rs2108622_type
d2188 = drug_gene_diag_INR_dose_BMI[(drug_gene_diag_INR_dose_BMI['Amount_2188'] == 1) 
        & (drug_gene_diag_INR_dose_BMI['rs2108622_type'] == '0')]

In [94]:
d2188[d2188.BMI < 18.5]
# d2188[(d2188.BMI >= 18.5) & (d2188.BMI < 25)]
# d2188[(d2188.BMI >= 25) & (d2188.BMI < 30)]
# d2188[d2188.BMI >= 30]

,OrderNo,OrderSource,VisitNo,PatientNo,b_INR_GenotypeName,Sex,MedType,MedCode,Dosage,IngredDosage,...,timediff,3M_same,BMI,Albumin,GOT,GPT,TG,HDL,LDL,CHOL
15,-641039762,-8,-179535180,100000021441,20190123_GT3_ARRAY_47_E09_TPMI.CEL,1,1120100,TWARFAR2,0.5,0,...,NaN,NaN,-9.0,-9.0,-9,19,93,-9.0,107.5,-9
107,-279872871,-200000005,-300743913,100000282467,20210114_GT3_ARRAY_4547_E09_TPMI.CEL,2,1310100,TCOUMAD,1.0,0,...,NaN,NaN,-9.0,3.0,-9,16,111,45.8,124.7,158
153,-46736810,-3,-132124010,100000256178,20200708_GT3_ARRAY_2193_F11_TPMI.CEL,1,1110600,TCOUMAD,1.0,0,...,NaN,NaN,-9.0,-9.0,36,-9,149,37.2,156.5,203
154,-29192542,-11,-157229741,100000258160,20191125_GT24_ARRAY_604_H03_TPMI.CEL,2,1120100,TCOUMAD,0.5,0,...,28.0,1.0,-9.0,-9.0,52,34,64,72.3,53.9,139
187,-60909821,-24,-151575684,100000358762,20200730_GT5_ARRAY_339_H11_TPMI.CEL,2,1120100,TCOUMAD,1.0,0,...,15.0,1.0,-9.0,3.6,24,18,-9,-9.0,-9.0,-9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2479,-676485136,-200000096,-301384570,100000535533,20200505_GT3_ARRAY_183_B12_TPMI.CEL,2,1310100,TWARFA1,0.5,0,...,NaN,NaN,15.8,3.3,20,20,150,21.6,61.2,226
2485,-123930547,-19,-153202147,100000600816,20200903_GT7_ARRAY_4143_G10_TPMI.CEL,2,1120100,TCOUMAD,0.5,0,...,13.0,1.0,-9.0,2.6,37,-9,420,47.5,145.8,244
2536,-49325431,-23,-167549940,100017381243,20190903_GT1_ARRAY_201_H10_TPMI.CEL,2,1120100,TWARFA1,1.0,0,...,NaN,NaN,-9.0,-9.0,-9,23,95,-9.0,97.6,167
2559,-278482672,-200000052,-300819971,100022356870,20191007_GT1_ARRAY_268_D02_TPMI.CEL,1,1310100,TCOUMAD,0.5,0,...,NaN,NaN,-9.0,3.5,53,37,408,37.6,163.9,218
2575,-279669457,-200000021,-300743536,100025339451,20201021_GT8_ARRAY_4294_G08_TPMI.CEL,1,1310100,TCOUMAD,1.0,0,...,NaN,NaN,-9.0,3.5,26,30,286,45.4,150.5,238

In [95]:
d2188

,OrderNo,OrderSource,VisitNo,PatientNo,b_INR_GenotypeName,Sex,MedType,MedCode,Dosage,IngredDosage,...,timediff,3M_same,BMI,Albumin,GOT,GPT,TG,HDL,LDL,CHOL
0,-319037674,-15,-169952329,100000025381,20190814_GT3_ARRAY_179_F06_TPMI.CEL,1,1120100,TWARFA1,1.0,0,...,NaN,NaN,26.5,3.0,465,528,432,42.0,153.0,212
3,-98272020,-14,-161649383,100000063534,20200818_GT8_ARRAY_4092_H08_TPMI.CEL,2,1120100,TCOUMAD,0.5,0,...,NaN,NaN,22.6,3.5,51,81,57,112.6,135.2,259
6,-274870768,-200000034,-300973677,100000068178,20191104_GT23_ARRAY_595_C02_TPMI.CEL,1,1310100,TCOUMAD,0.5,0,...,NaN,NaN,30.8,3.9,33,43,258,38.0,118.4,174
8,-69314540,-8,-164051060,100000009727,20200423_GT5_ARRAY_143_D11_TPMI.CEL,1,1120100,TCOUMAD,0.5,0,...,NaN,NaN,23.7,4.4,-9,-9,183,76.9,153.5,246
9,-255294662,-200000016,-301025428,100000026745,20210107_GT5_ARRAY_4531_D08_TPMI.CEL,1,1310100,TCOUMAD,1.0,0,...,NaN,NaN,30.9,-9.0,22,21,181,35.6,170.3,230
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2595,-120012213,-18,-163417870,100029944398,20191211_GT3_ARRAY_376_E02_TPMI.CEL,2,1120100,TCOUMAD,0.5,0,...,NaN,NaN,26.5,2.9,724,788,211,51.4,135.9,203
2598,-707639937,-15,-184071343,100030297230,20200527_GT7_ARRAY_2061_D09_TPMI.CEL,1,1120100,TWARFA1,1.0,0,...,NaN,NaN,24.4,-9.0,-9,30,104,38.5,146.8,183
2600,-685389028,-200000080,-301414035,100030488975,20190513_GT3_ARRAY_79_A03_TPMI.CEL,2,1310100,TWARFA1,1.5,0,...,NaN,NaN,22.6,4.3,-9,12,124,57.4,123.6,202
2606,-366788519,-200000009,-301250030,100033018668,20191104_GT24_ARRAY_671_B02_TPMI.CEL,2,1310100,TWARFAR2,0.5,0,...,NaN,NaN,25.4,4.0,39,23,144,58.7,133.1,224
2610,-304165255,-200000021,-301183514,100033806705,20200120_GT23_ARRAY_751_F10_TPMI.CEL,1,1310100,TCOUMAD,0.5,0,...,NaN,NaN,46.5,3.4,-9,21,492,31.0,128.4,210