In [15]:
import pandas as pd
from datetime import timedelta
import numpy as np

In [16]:
drug = pd.read_csv(r"C:\Users\cmuh1\VSCode\jupter\warfarin_Source\warfarin_Drug.csv")
database = pd.read_excel(r'C:\Users\cmuh1\VSCode\warfarin總表-0311(第七版).xlsx')

In [17]:
drug['OrderTime1'] = pd.to_datetime(drug['OrderTime']).dt.date
drug['EndTime1'] = pd.to_datetime(drug['EndTime']).dt.date
drug['OrderTime_min'] = drug.groupby('PatientNo')['OrderTime1'].transform(min)

In [18]:
drug['MedCode'] = drug['MedCode'].str.strip()
conditions=[(drug.MedCode == 'TCOUMAD'),
 (drug.MedCode == 'TWARFA1'),
 (drug.MedCode == 'TWARFA11'),
 (drug.MedCode == 'TWARFA12'),
 (drug.MedCode == 'TWARFAR'),
 (drug.MedCode == 'TWARFAR1'),
 (drug.MedCode == 'TWARFAR2'),
 ]
values = [ 5 , 1 , 1, 1, 5, 5, 5]

drug['Dose(mg/tab)'] = np.select(conditions,values)
drug['Dose(mg/tab)'] = drug['Dose(mg/tab)'].multiply(drug['Dosage'])

In [24]:

drug['OrderTime'] = drug.groupby('PatientNo')['OrderTime'].transform('min')
drug['del'] = 0
for i in range(len(drug.PatientNo)):
    if (drug.OrderTime1[i] == drug.OrderTime_min[i]) & (drug.OrderNo[i] == drug.OrderNO_max[i]):
        drug['del'][i] = 1

C:\Users\cmuh1\AppData\Local\Temp\ipykernel_17328\450135866.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  drug['del'][i] = 1

,OrderNo,OrderSource,VisitNo,PatientNo,GenotypeName,Sex,MedType,MedCode,Dosage,IngredDosage,...,TranTime,TranStatus,SystemUser,SystemTime,OrderTime1,EndTime1,OrderTime_min,Dose(mg/tab),OrderNO_max,del
34,-319037674,-15,-169952329,100000025381,20190814_GT3_ARRAY_179_F06_TPMI.CEL,1,1120100,TWARFA1,1.0,0,...,2016-10-11 12:37:00.000,10,999999,2017-12-11 14:49:58.877,2016-10-11,2016-10-25,2016-10-11,1.0,-319037674,1
44,-267988057,-200000054,-301148599,100000026596,20181205_GT1_ARRAY_22_C04_TPMI.CEL,2,1310100,TCOUMAD,0.5,0,...,2016-01-23 08:38:00.000,81,999999,2018-11-23 00:22:41.123,2016-01-23,2016-01-26,2016-01-23,2.5,-267988057,1
60,-98272020,-14,-161649383,100000063534,20200818_GT8_ARRAY_4092_H08_TPMI.CEL,2,1120100,TCOUMAD,0.5,0,...,2014-05-06 12:26:00.000,10,999999,2017-06-16 23:56:19.743,2014-05-06,2014-05-10,2014-05-06,2.5,-98272020,1
130,-706246289,-6,-182833784,100000059139,20200831_GT1_ARRAY_4146_E08_TPMI.CEL,1,1120100,TWARFAR2,0.5,0,...,2019-07-08 17:31:00.000,10,999999,2020-09-27 08:37:10.520,2019-07-08,2019-07-22,2019-07-08,2.5,-706246289,1
173,-45363482,-5,-168170297,100000001714,20200709_GT2_ARRAY_260_F10_TPMI.CEL,1,1120100,TCOUMAD,0.5,0,...,2016-02-13 10:50:00.000,10,999999,2017-11-30 01:58:24.113,2016-02-13,2016-02-25,2016-02-13,2.5,-45363482,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
87241,-360052421,-6,-173739360,100033249914,20200211_GT24_ARRAY_817_B02_TPMI.CEL,1,1120100,TWARFA1,1.5,0,...,2017-09-04 08:34:00.000,60,999999,2019-01-21 15:34:57.830,2017-09-04,2017-10-02,2017-09-04,1.5,-360052421,1
87250,-740694488,-200000589,-301293831,100033542650,20190902_GT1_ARRAY_200_F07_TPMI.CEL,1,1310100,TWARFAR2,1.0,0,...,2017-11-29 10:31:00.000,81,999999,2020-10-04 13:50:44.927,2017-11-29,2017-12-06,2017-11-29,5.0,-740694488,1
87419,-304165255,-200000021,-301183514,100033806705,20200120_GT23_ARRAY_751_F10_TPMI.CEL,1,1310100,TCOUMAD,0.5,0,...,2016-07-04 08:16:00.000,80,999999,2018-11-23 23:33:12.913,2016-07-04,2016-07-07,2016-07-04,2.5,-304165255,1
87436,-675045942,-200000309,-301342004,100034082040,20200806_GT4_ARRAY_4050_F04_TPMI.CEL,1,1310100,TWARFA1,2.0,0,...,2018-06-19 10:48:00.000,81,999999,2019-11-11 19:33:25.057,2018-06-19,2018-06-25,2018-06-19,2.0,-675045942,1
87461,-639008360,-6,-179841588,100034679423,20191209_GT23_ARRAY_636_H01_TPMI.CEL,2,1110600,TWARFAR2,0.5,0,...,2018-12-06 10:19:00.000,60,999999,2019-11-02 20:44:40.837,2018-12-06,2018-12-09,2018-12-06,2.5,-639008360,1

In [6]:
drug['timediff'] = drug['EndTime1'] - drug['OrderTime_min']
drug['drug_day'] = drug['EndTime1'] - drug['OrderTime1']
drug = drug[drug['timediff'] <timedelta(days=180)]

In [7]:
OrderNo = pd.DataFrame(database.OrderNo)
OrderNo['OrderNo1'] = OrderNo.OrderNo

In [8]:
drug = pd.merge(drug , OrderNo,how='left' , on='OrderNo')

In [9]:
drug['OrderTime_min5'] = drug.OrderTime_min +timedelta(days=5)
drug['OrderTime_min7'] = drug.OrderTime_min +timedelta(days=7)
drug['OrderTime_min14'] = drug.OrderTime_min +timedelta(days=14)
drug['OrderTime_min30'] = drug.OrderTime_min +timedelta(days=30)
drug['OrderTime_min60'] = drug.OrderTime_min +timedelta(days=60)
drug['OrderTime_min90'] = drug.OrderTime_min +timedelta(days=90)
drug

,OrderNo,OrderSource,VisitNo,PatientNo,GenotypeName,Sex,MedType,MedCode,Dosage,IngredDosage,...,Dose(mg/tab),timediff,drug_day,OrderNo1,OrderTime_min5,OrderTime_min7,OrderTime_min14,OrderTime_min30,OrderTime_min60,OrderTime_min90
0,-202891406,-18,-133824502,100000002675,20191125_GT23_ARRAY_700_D08_TPMI.CEL,2,1120100,TCOUMAD,0.5,0,...,2.5,56 days,28 days,NaN,2003-10-25,2003-10-27,2003-11-03,2003-11-19,2003-12-19,2004-01-18
1,-346810920,-10,-172393750,100000025381,20190814_GT3_ARRAY_179_F06_TPMI.CEL,1,1110600,TWARFAR2,0.5,0,...,2.5,161 days,28 days,NaN,2016-10-16,2016-10-18,2016-10-25,2016-11-10,2016-12-10,2017-01-09
2,-319037674,-15,-169952329,100000025381,20190814_GT3_ARRAY_179_F06_TPMI.CEL,1,1120100,TWARFA1,1.0,0,...,1.0,14 days,14 days,-319037674.0,2016-10-16,2016-10-18,2016-10-25,2016-11-10,2016-12-10,2017-01-09
3,-322423104,-15,-171085460,100000025381,20190814_GT3_ARRAY_179_F06_TPMI.CEL,1,1110600,TWARFAR2,0.5,0,...,2.5,70 days,28 days,NaN,2016-10-16,2016-10-18,2016-10-25,2016-11-10,2016-12-10,2017-01-09
4,-364630264,-200000031,-301228249,100000025381,20190814_GT3_ARRAY_179_F06_TPMI.CEL,1,1310100,TWARFAR2,0.5,0,...,2.5,100 days,1 days,NaN,2016-10-16,2016-10-18,2016-10-25,2016-11-10,2016-12-10,2017-01-09
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20483,-726619199,-4,-182455971,100034765188,20200506_GT8_ARRAY_177_D11_TPMI.CEL,1,1110600,TWARFAR2,0.5,0,...,2.5,145 days,28 days,NaN,2019-02-18,2019-02-20,2019-02-27,2019-03-15,2019-04-14,2019-05-14
20484,-706602996,-4,-182850997,100034765188,20200506_GT8_ARRAY_177_D11_TPMI.CEL,1,1110600,TWARFAR2,0.5,0,...,2.5,174 days,28 days,NaN,2019-02-18,2019-02-20,2019-02-27,2019-03-15,2019-04-14,2019-05-14
20485,-717499799,-4,-181507580,100034765188,20200506_GT8_ARRAY_177_D11_TPMI.CEL,1,1110600,TWARFAR2,0.5,0,...,2.5,119 days,28 days,NaN,2019-02-18,2019-02-20,2019-02-27,2019-03-15,2019-04-14,2019-05-14
20486,-717499809,-9,-181507580,100034765188,20200506_GT8_ARRAY_177_D11_TPMI.CEL,1,1110600,TWARFAR2,0.5,0,...,2.5,119 days,28 days,NaN,2019-02-18,2019-02-20,2019-02-27,2019-03-15,2019-04-14,2019-05-14
20487,-717499827,-15,-181507580,100034765188,20200506_GT8_ARRAY_177_D11_TPMI.CEL,1,1110600,TWARFAR2,0.5,0,...,2.5,119 days,28 days,NaN,2019-02-18,2019-02-20,2019-02-27,2019-03-15,2019-04-14,2019-05-14

In [10]:
drug5 = drug[drug.OrderTime1 <= drug.OrderTime_min5]
drug5 = drug5.drop(columns=['OrderTime_min7','OrderTime_min14','OrderTime_min30','OrderTime_min60','OrderTime_min90'])
drug7 = drug[drug.OrderTime1 <= drug.OrderTime_min7]
drug7 = drug7.drop(columns=['OrderTime_min5','OrderTime_min14','OrderTime_min30','OrderTime_min60','OrderTime_min90'])
drug14 = drug[drug.OrderTime1 <= drug.OrderTime_min14]
drug14 = drug14.drop(columns=['OrderTime_min5','OrderTime_min7','OrderTime_min30','OrderTime_min60','OrderTime_min90'])
drug30 = drug[drug.OrderTime1 <= drug.OrderTime_min30]
drug30 = drug30.drop(columns=['OrderTime_min5','OrderTime_min7','OrderTime_min14','OrderTime_min60','OrderTime_min90'])
drug60 = drug[drug.OrderTime1 <= drug.OrderTime_min60]
drug60 = drug60.drop(columns=['OrderTime_min5','OrderTime_min7','OrderTime_min14','OrderTime_min30','OrderTime_min90'])
drug90 = drug[drug.OrderTime1 <= drug.OrderTime_min90]
drug90 = drug90.drop(columns=['OrderTime_min5','OrderTime_min7','OrderTime_min14','OrderTime_min30','OrderTime_min60'])

In [11]:
# drug30['min30-order'] = drug30.OrderTime_min30 - drug30.OrderTime1
# drug30['min30-order_min'] = drug30.groupby('PatientNo')['min30-order'].transform(min)
# drug30 = drug30[drug30['min30-order'] == drug30['min30-order_min']]
# .to_excel(r'C:\Users\cmuh1\VSCode\drug30.xlsx')

In [12]:
drug30 = drug30.sort_values(['PatientNo','OrderTime'])
drug30['OrderTime'] = pd.to_datetime(drug30['OrderTime'])
drug30['OrderTime_diff'] = drug30.groupby('PatientNo')['OrderTime1'].diff()
drug30['sameday'] = drug30.groupby(['PatientNo','OrderTime_diff'])['OrderTime'].transform('max')
drug30 = drug30.reset_index(drop=True)
# drug30['OrderTime_diff_under_1'] = 0 
# conditions = [drug30.OrderTime_diff < timedelta(days=1)]
# values = [1]
# drug30['OrderTime_diff_under_1'] = np.select(conditions , values)
for i in range(len(drug30.PatientNo)):
    # if(type(drug30.OrderTime_diff[i]) == float):
    if(drug30.sameday.isnull()[i] == True):
        # drug30.OrderTime_diff[i] = pd.Timedelta(0)
        drug30.sameday[i] = drug30.OrderTime[i]
        
drug30

C:\Users\cmuh1\AppData\Local\Temp\ipykernel_17328\3720405008.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  drug30.sameday[i] = drug30.OrderTime[i]

,OrderNo,OrderSource,VisitNo,PatientNo,GenotypeName,Sex,MedType,MedCode,Dosage,IngredDosage,...,OrderTime1,EndTime1,OrderTime_min,Dose(mg/tab),timediff,drug_day,OrderNo1,OrderTime_min30,OrderTime_diff,sameday
0,-282665872,-200000012,-300768364,100000000498,20191209_GT3_ARRAY_371_C02_TPMI.CEL,2,1310100,TCOUMAD,0.5,0,...,2010-08-12,2010-08-12,2010-08-12,2.5,0 days,0 days,NaN,2010-09-11,NaT,2010-08-12 10:21:00
1,-282665875,-200000015,-300768364,100000000498,20191209_GT3_ARRAY_371_C02_TPMI.CEL,2,1310100,TCOUMAD,0.5,0,...,2010-08-12,2010-08-14,2010-08-12,2.5,2 days,2 days,-282665875.0,2010-09-11,0 days 00:00:00,2010-08-16 13:49:00
2,-282665876,-200000016,-300768364,100000000498,20191209_GT3_ARRAY_371_C02_TPMI.CEL,2,1310100,TCOUMAD,0.5,0,...,2010-08-14,2010-08-16,2010-08-12,2.5,4 days,2 days,NaN,2010-09-11,2 days 00:00:00,2010-08-18 10:22:00
3,-282665879,-200000019,-300768364,100000000498,20191209_GT3_ARRAY_371_C02_TPMI.CEL,2,1310100,TCOUMAD,1.0,0,...,2010-08-16,2010-08-16,2010-08-12,5.0,4 days,0 days,NaN,2010-09-11,2 days 00:00:00,2010-08-18 10:22:00
4,-282665880,-200000020,-300768364,100000000498,20191209_GT3_ARRAY_371_C02_TPMI.CEL,2,1310100,TCOUMAD,0.5,0,...,2010-08-16,2010-08-16,2010-08-12,2.5,4 days,0 days,NaN,2010-09-11,0 days 00:00:00,2010-08-16 13:49:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11373,-703470475,-200000074,-301476380,100035892222,20200709_GT7_ARRAY_2187_A11_TPMI.CEL,1,1310100,TWARFA1,0.5,0,...,2019-12-23,2019-12-23,2019-12-19,0.5,4 days,0 days,NaN,2020-01-18,4 days 00:00:00,2019-12-23 10:23:00
11374,-703470488,-200000076,-301476380,100035892222,20200709_GT7_ARRAY_2187_A11_TPMI.CEL,1,1310100,TWARFA1,2.0,0,...,2019-12-23,2019-12-30,2019-12-19,2.0,11 days,7 days,NaN,2020-01-18,0 days 00:00:00,2019-12-23 17:11:00
11375,-702819389,-200000005,-301477176,100035901923,20200416_GT8_ARRAY_133_G10_TPMI.CEL,2,1310100,TWARFAR2,0.5,0,...,2019-12-22,2019-12-23,2019-12-22,2.5,1 days,1 days,-702819389.0,2020-01-21,NaN,2019-12-22 14:45:00
11376,-740510778,-400000202,-301440742,100036202057,20200818_GT8_ARRAY_4092_B05_TPMI.CEL,2,1318000,TWARFAR2,1.0,0,...,2019-07-24,2019-07-31,2019-07-24,5.0,7 days,7 days,-740510778.0,2019-08-23,NaT,2019-07-24 16:40:00
11377,-740510778,-400000202,-301440742,100036202057,20200818_GT8_ARRAY_4092_B05_TPMI.CEL,2,1318000,TWARFAR2,1.0,0,...,2019-07-24,2019-07-31,2019-07-24,5.0,7 days,7 days,-740510778.0,2019-08-23,0 days 00:00:00,2019-07-24 16:40:00

In [14]:
drug30[drug30.OrderTime_diff.isnull()]

,OrderNo,OrderSource,VisitNo,PatientNo,GenotypeName,Sex,MedType,MedCode,Dosage,IngredDosage,...,OrderTime1,EndTime1,OrderTime_min,Dose(mg/tab),timediff,drug_day,OrderNo1,OrderTime_min30,OrderTime_diff,sameday
0,-282665872,-200000012,-300768364,100000000498,20191209_GT3_ARRAY_371_C02_TPMI.CEL,2,1310100,TCOUMAD,0.5,0,...,2010-08-12,2010-08-12,2010-08-12,2.5,0 days,0 days,NaN,2010-09-11,NaT,2010-08-12 10:21:00
9,-676775993,-200000089,-301388159,100000001159,20190417_GT2_ARRAY_72_A03_TPMI.CEL,2,1310100,TWARFA1,2.0,0,...,2018-12-21,2018-12-24,2018-12-21,2.0,3 days,3 days,NaN,2019-01-20,NaT,2018-12-21 12:42:00
28,-258443955,-200000004,-301072902,100000001395,20191104_GT24_ARRAY_661_F02_TPMI.CEL,1,1310100,TCOUMAD,0.5,0,...,2015-02-01,2015-02-04,2015-02-01,2.5,3 days,3 days,-258443955.0,2015-03-03,NaT,2015-02-01 15:59:00
33,-45363482,-5,-168170297,100000001714,20200709_GT2_ARRAY_260_F10_TPMI.CEL,1,1120100,TCOUMAD,0.5,0,...,2016-02-13,2016-02-25,2016-02-13,2.5,12 days,12 days,-45363482.0,2016-03-14,NaN,2016-02-13 10:50:00
34,-171261654,-17,-133623599,100000002675,20191125_GT23_ARRAY_700_D08_TPMI.CEL,2,1120100,TCOUMAD,0.5,0,...,2003-10-20,2003-11-03,2003-10-20,2.5,14 days,14 days,-171261654.0,2003-11-19,NaT,2003-10-20 18:47:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11353,-741172812,-200000083,-301473995,100035861165,20200618_GT3_ARRAY_2175_H10_TPMI.CEL,1,1310100,TWARFA1,1.0,0,...,2019-12-12,2019-12-17,2019-12-12,1.0,5 days,5 days,NaN,2020-01-11,NaT,2019-12-12 12:17:00
11363,-701606052,-200000054,-301474062,100035863490,20200514_GT3_ARRAY_213_E03_TPMI.CEL,1,1310100,TWARFA1,1.5,0,...,2019-12-10,2019-12-16,2019-12-10,1.5,6 days,6 days,NaN,2020-01-09,NaT,2019-12-10 15:07:00
11371,-703470402,-200000053,-301476380,100035892222,20200709_GT7_ARRAY_2187_A11_TPMI.CEL,1,1310100,TWARFA1,1.5,0,...,2019-12-19,2019-12-23,2019-12-19,1.5,4 days,4 days,NaN,2020-01-18,NaT,2019-12-19 12:14:00
11375,-702819389,-200000005,-301477176,100035901923,20200416_GT8_ARRAY_133_G10_TPMI.CEL,2,1310100,TWARFAR2,0.5,0,...,2019-12-22,2019-12-23,2019-12-22,2.5,1 days,1 days,-702819389.0,2020-01-21,NaN,2019-12-22 14:45:00
11376,-740510778,-400000202,-301440742,100036202057,20200818_GT8_ARRAY_4092_B05_TPMI.CEL,2,1318000,TWARFAR2,1.0,0,...,2019-07-24,2019-07-31,2019-07-24,5.0,7 days,7 days,-740510778.0,2019-08-23,NaT,2019-07-24 16:40:00

In [13]:
drug301 = drug30[drug30.OrderTime == drug30.sameday]
# drug301[drug301.PatientNo == 100000034534]
drug301[drug301.PatientNo == 100000000498]
# 100000000498
# drug301.head(10)
# drug30[drug30.OrderTime == drug30.sameday]
# drug301

,OrderNo,OrderSource,VisitNo,PatientNo,GenotypeName,Sex,MedType,MedCode,Dosage,IngredDosage,...,OrderTime1,EndTime1,OrderTime_min,Dose(mg/tab),timediff,drug_day,OrderNo1,OrderTime_min30,OrderTime_diff,sameday
0,-282665872,-200000012,-300768364,100000000498,20191209_GT3_ARRAY_371_C02_TPMI.CEL,2,1310100,TCOUMAD,0.5,0,...,2010-08-12,2010-08-12,2010-08-12,2.5,0 days,0 days,NaN,2010-09-11,NaT,2010-08-12 10:21:00
5,-282665881,-200000021,-300768364,100000000498,20191209_GT3_ARRAY_371_C02_TPMI.CEL,2,1310100,TCOUMAD,0.5,0,...,2010-08-16,2010-08-18,2010-08-12,2.5,6 days,2 days,NaN,2010-09-11,0 days 00:00:00,2010-08-16 13:49:00
6,-282665883,-200000023,-300768364,100000000498,20191209_GT3_ARRAY_371_C02_TPMI.CEL,2,1320100,TCOUMAD,0.5,0,...,2010-08-18,2010-08-23,2010-08-12,2.5,11 days,5 days,NaN,2010-09-11,2 days 00:00:00,2010-08-18 10:22:00
7,-122292322,-4,-150421016,100000000498,20191209_GT3_ARRAY_371_C02_TPMI.CEL,2,1120100,TCOUMAD,0.5,0,...,2010-08-23,2010-09-06,2010-08-12,2.5,25 days,14 days,NaN,2010-09-11,5 days 00:00:00,2010-08-23 11:34:00
8,-143880969,-8,-150455001,100000000498,20191209_GT3_ARRAY_371_C02_TPMI.CEL,2,1120100,TCOUMAD,0.5,0,...,2010-09-06,2010-10-04,2010-08-12,2.5,53 days,28 days,NaN,2010-09-11,14 days 00:00:00,2010-09-06 10:45:00

C:\Users\cmuh1\AppData\Local\Temp\ipykernel_6120\1649950869.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  drug30.sameday[i] = drug30.OrderTime[i]

,OrderNo,OrderSource,VisitNo,PatientNo,GenotypeName,Sex,MedType,MedCode,Dosage,IngredDosage,...,OrderTime1,EndTime1,OrderTime_min,Dose(mg/tab),timediff,drug_day,OrderNo1,OrderTime_min30,OrderTime_diff,sameday
0,-282665872,-200000012,-300768364,100000000498,20191209_GT3_ARRAY_371_C02_TPMI.CEL,2,1310100,TCOUMAD,0.5,0,...,2010-08-12,2010-08-12,2010-08-12,2.5,0 days,0 days,NaN,2010-09-11,NaT,2010-08-12 10:21:00
1,-282665875,-200000015,-300768364,100000000498,20191209_GT3_ARRAY_371_C02_TPMI.CEL,2,1310100,TCOUMAD,0.5,0,...,2010-08-12,2010-08-14,2010-08-12,2.5,2 days,2 days,-282665875.0,2010-09-11,0 days 00:00:00,2010-08-16 13:49:00
2,-282665876,-200000016,-300768364,100000000498,20191209_GT3_ARRAY_371_C02_TPMI.CEL,2,1310100,TCOUMAD,0.5,0,...,2010-08-14,2010-08-16,2010-08-12,2.5,4 days,2 days,NaN,2010-09-11,2 days 00:00:00,2010-08-18 10:22:00
3,-282665879,-200000019,-300768364,100000000498,20191209_GT3_ARRAY_371_C02_TPMI.CEL,2,1310100,TCOUMAD,1.0,0,...,2010-08-16,2010-08-16,2010-08-12,5.0,4 days,0 days,NaN,2010-09-11,2 days 00:00:00,2010-08-18 10:22:00
4,-282665880,-200000020,-300768364,100000000498,20191209_GT3_ARRAY_371_C02_TPMI.CEL,2,1310100,TCOUMAD,0.5,0,...,2010-08-16,2010-08-16,2010-08-12,2.5,4 days,0 days,NaN,2010-09-11,0 days 00:00:00,2010-08-16 13:49:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11373,-703470475,-200000074,-301476380,100035892222,20200709_GT7_ARRAY_2187_A11_TPMI.CEL,1,1310100,TWARFA1,0.5,0,...,2019-12-23,2019-12-23,2019-12-19,0.5,4 days,0 days,NaN,2020-01-18,4 days 00:00:00,2019-12-23 10:23:00
11374,-703470488,-200000076,-301476380,100035892222,20200709_GT7_ARRAY_2187_A11_TPMI.CEL,1,1310100,TWARFA1,2.0,0,...,2019-12-23,2019-12-30,2019-12-19,2.0,11 days,7 days,NaN,2020-01-18,0 days 00:00:00,2019-12-23 17:11:00
11375,-702819389,-200000005,-301477176,100035901923,20200416_GT8_ARRAY_133_G10_TPMI.CEL,2,1310100,TWARFAR2,0.5,0,...,2019-12-22,2019-12-23,2019-12-22,2.5,1 days,1 days,-702819389.0,2020-01-21,NaN,2019-12-22 14:45:00
11376,-740510778,-400000202,-301440742,100036202057,20200818_GT8_ARRAY_4092_B05_TPMI.CEL,2,1318000,TWARFAR2,1.0,0,...,2019-07-24,2019-07-31,2019-07-24,5.0,7 days,7 days,-740510778.0,2019-08-23,NaT,2019-07-24 16:40:00
11377,-740510778,-400000202,-301440742,100036202057,20200818_GT8_ARRAY_4092_B05_TPMI.CEL,2,1318000,TWARFAR2,1.0,0,...,2019-07-24,2019-07-31,2019-07-24,5.0,7 days,7 days,-740510778.0,2019-08-23,0 days 00:00:00,2019-07-24 16:40:00

In [142]:
drug30[drug30.OrderTime == drug30.sameday]

,OrderNo,OrderSource,VisitNo,PatientNo,GenotypeName,Sex,MedType,MedCode,Dosage,IngredDosage,...,OrderTime1,EndTime1,OrderTime_min,Dose(mg/tab),timediff,drug_day,OrderNo1,OrderTime_min30,OrderTime_diff,sameday
5,-282665881,-200000021,-300768364,100000000498,20191209_GT3_ARRAY_371_C02_TPMI.CEL,2,1310100,TCOUMAD,0.5,0,...,2010-08-16,2010-08-18,2010-08-12,2.5,6 days,2 days,NaN,2010-09-11,0 days 00:00:00,2010-08-16 13:49:00
6,-282665883,-200000023,-300768364,100000000498,20191209_GT3_ARRAY_371_C02_TPMI.CEL,2,1320100,TCOUMAD,0.5,0,...,2010-08-18,2010-08-23,2010-08-12,2.5,11 days,5 days,NaN,2010-09-11,2 days 00:00:00,2010-08-18 10:22:00
7,-122292322,-4,-150421016,100000000498,20191209_GT3_ARRAY_371_C02_TPMI.CEL,2,1120100,TCOUMAD,0.5,0,...,2010-08-23,2010-09-06,2010-08-12,2.5,25 days,14 days,NaN,2010-09-11,5 days 00:00:00,2010-08-23 11:34:00
8,-143880969,-8,-150455001,100000000498,20191209_GT3_ARRAY_371_C02_TPMI.CEL,2,1120100,TCOUMAD,0.5,0,...,2010-09-06,2010-10-04,2010-08-12,2.5,53 days,28 days,NaN,2010-09-11,14 days 00:00:00,2010-09-06 10:45:00
15,-676776064,-200000160,-301388159,100000001159,20190417_GT2_ARRAY_72_A03_TPMI.CEL,2,1310100,TWARFA1,2.0,0,...,2018-12-30,2019-01-02,2018-12-21,2.0,12 days,3 days,NaN,2019-01-20,3 days 00:00:00,2018-12-30 10:30:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11370,-735141148,-46,-185019376,100035863490,20200514_GT3_ARRAY_213_E03_TPMI.CEL,1,1120100,TWARFA1,2.0,0,...,2019-12-26,2020-01-02,2019-12-10,2.0,23 days,7 days,NaN,2020-01-09,0 days 00:00:00,2019-12-26 16:32:00
11373,-703470475,-200000074,-301476380,100035892222,20200709_GT7_ARRAY_2187_A11_TPMI.CEL,1,1310100,TWARFA1,0.5,0,...,2019-12-23,2019-12-23,2019-12-19,0.5,4 days,0 days,NaN,2020-01-18,4 days 00:00:00,2019-12-23 10:23:00
11374,-703470488,-200000076,-301476380,100035892222,20200709_GT7_ARRAY_2187_A11_TPMI.CEL,1,1310100,TWARFA1,2.0,0,...,2019-12-23,2019-12-30,2019-12-19,2.0,11 days,7 days,NaN,2020-01-18,0 days 00:00:00,2019-12-23 17:11:00
11375,-702819389,-200000005,-301477176,100035901923,20200416_GT8_ARRAY_133_G10_TPMI.CEL,2,1310100,TWARFAR2,0.5,0,...,2019-12-22,2019-12-23,2019-12-22,2.5,1 days,1 days,-702819389.0,2020-01-21,NaN,2019-12-22 14:45:00
11377,-740510778,-400000202,-301440742,100036202057,20200818_GT8_ARRAY_4092_B05_TPMI.CEL,2,1318000,TWARFAR2,1.0,0,...,2019-07-24,2019-07-31,2019-07-24,5.0,7 days,7 days,-740510778.0,2019-08-23,0 days 00:00:00,2019-07-24 16:40:00

In [140]:
type(drug30.OrderTime_diff[i]) == float

True

In [139]:
float

float

In [87]:
# drug30[drug30.PatientNo == 100000000498]
# drug30.head(10)

In [ ]:
drug60['min60-order'] = drug60.OrderTime_min60 - drug60.OrderTime1
drug60['min60-order_min'] = drug60.groupby('PatientNo')['min60-order'].transform(min)
drug60[drug60['min60-order'] == drug60['min60-order_min']]
# .to_excel(r'C:\Users\cmuh1\VSCode\drug60.xlsx')

In [ ]:
drug90['min90-order'] = drug90.OrderTime_min90 - drug90.OrderTime1
drug90['min90-order_min'] = drug90.groupby('PatientNo')['min90-order'].transform(min)
drug90[drug90['min90-order'] == drug90['min90-order_min']]
# .to_excel(r'C:\Users\cmuh1\VSCode\drug90.xlsx')

In [19]:
drug30[drug30.PatientNo == 100034679423]

,OrderNo,OrderSource,VisitNo,PatientNo,GenotypeName,Sex,MedType,MedCode,Dosage,IngredDosage,...,EndTime1,OrderTime_min,Dose(mg/tab),timediff,drug_day,OrderNo1,OrderTime_min30,min30-order,min30-order_min,Count
20473,-646538575,-4,-180457330,100034679423,20191209_GT23_ARRAY_636_H01_TPMI.CEL,2,1110600,TWARFAR2,0.5,0,...,2019-01-25,2018-12-06,2.5,50 days,28 days,NaN,2019-01-05,8 days,8 days,1

In [21]:
drug30_dup['test'] = drug30_dup.groupby(['PatientNo', 'MedCode', 'OrderTime_min30'])['Dose(mg/tab)'].transform('max')
drug30_dup['test_2'] = drug30_dup.groupby(['PatientNo', 'MedCode', 'OrderTime_min30', 'Dose(mg/tab)'])['drug_day'].transform('max')