In [1]:
import pandas as pd
from datetime import timedelta
import numpy as np

In [2]:
drug = pd.read_csv(r"C:\Users\cmuh1\VSCode\jupter\warfarin_Source\warfarin_Drug.csv")
database = pd.read_excel(r'C:\Users\cmuh1\VSCode\warfarin總表-0311(第七版).xlsx')

In [3]:
drug['OrderTime1'] = pd.to_datetime(drug['OrderTime']).dt.date
drug['EndTime1'] = pd.to_datetime(drug['EndTime']).dt.date
drug['OrderTime_min'] = drug.groupby('PatientNo')['OrderTime1'].transform(min)

In [4]:
drug['MedCode'] = drug['MedCode'].str.strip()
conditions=[(drug.MedCode == 'TCOUMAD'),
 (drug.MedCode == 'TWARFA1'),
 (drug.MedCode == 'TWARFA11'),
 (drug.MedCode == 'TWARFA12'),
 (drug.MedCode == 'TWARFAR'),
 (drug.MedCode == 'TWARFAR1'),
 (drug.MedCode == 'TWARFAR2'),
 ]
values = [ 5 , 1 , 1, 1, 5, 5, 5]

drug['Dose'] = np.select(conditions,values)
drug['Dose(mg/tab)'] = drug['Dose'].multiply(drug['Dosage'])

In [5]:
drug['timediff'] = drug['EndTime1'] - drug['OrderTime_min']
drug['drug_day'] = drug['EndTime1'] - drug['OrderTime1']
# drug['drug_day1'] = np.where(drug.UsageNo == 9000 , pd.Timedelta(days=1) , drug.drug_day.dt.days )
drug = drug[drug['timediff'] <timedelta(days=168)]

In [6]:
OrderNo = pd.DataFrame(database.OrderNo)
OrderNo['OrderNo1'] = OrderNo.OrderNo

In [7]:
drug = pd.merge(drug , OrderNo,how='left' , on='OrderNo')

In [8]:
drug['OrderTime_min5'] = drug.OrderTime_min +timedelta(days=5)
drug['OrderTime_min7'] = drug.OrderTime_min +timedelta(days=7)
drug['OrderTime_min14'] = drug.OrderTime_min +timedelta(days=14)
drug['OrderTime_min28'] = drug.OrderTime_min +timedelta(days=30)
drug['OrderTime_min56'] = drug.OrderTime_min +timedelta(days=60)
drug['OrderTime_min84'] = drug.OrderTime_min +timedelta(days=90)
drug

,OrderNo,OrderSource,VisitNo,PatientNo,GenotypeName,Sex,MedType,MedCode,Dosage,IngredDosage,...,Dose(mg/tab),timediff,drug_day,OrderNo1,OrderTime_min5,OrderTime_min7,OrderTime_min14,OrderTime_min28,OrderTime_min56,OrderTime_min84
0,-202891406,-18,-133824502,100000002675,20191125_GT23_ARRAY_700_D08_TPMI.CEL,2,1120100,TCOUMAD,0.5,0,...,2.5,56 days,28 days,NaN,2003-10-25,2003-10-27,2003-11-03,2003-11-19,2003-12-19,2004-01-18
1,-346810920,-10,-172393750,100000025381,20190814_GT3_ARRAY_179_F06_TPMI.CEL,1,1110600,TWARFAR2,0.5,0,...,2.5,161 days,28 days,NaN,2016-10-16,2016-10-18,2016-10-25,2016-11-10,2016-12-10,2017-01-09
2,-319037674,-15,-169952329,100000025381,20190814_GT3_ARRAY_179_F06_TPMI.CEL,1,1120100,TWARFA1,1.0,0,...,1.0,14 days,14 days,-319037674.0,2016-10-16,2016-10-18,2016-10-25,2016-11-10,2016-12-10,2017-01-09
3,-322423104,-15,-171085460,100000025381,20190814_GT3_ARRAY_179_F06_TPMI.CEL,1,1110600,TWARFAR2,0.5,0,...,2.5,70 days,28 days,NaN,2016-10-16,2016-10-18,2016-10-25,2016-11-10,2016-12-10,2017-01-09
4,-364630264,-200000031,-301228249,100000025381,20190814_GT3_ARRAY_179_F06_TPMI.CEL,1,1310100,TWARFAR2,0.5,0,...,2.5,100 days,1 days,NaN,2016-10-16,2016-10-18,2016-10-25,2016-11-10,2016-12-10,2017-01-09
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19848,-721785190,-4,-181245221,100034765188,20200506_GT8_ARRAY_177_D11_TPMI.CEL,1,1110600,TWARFAR2,0.5,0,...,2.5,49 days,28 days,NaN,2019-02-18,2019-02-20,2019-02-27,2019-03-15,2019-04-14,2019-05-14
19849,-726619199,-4,-182455971,100034765188,20200506_GT8_ARRAY_177_D11_TPMI.CEL,1,1110600,TWARFAR2,0.5,0,...,2.5,145 days,28 days,NaN,2019-02-18,2019-02-20,2019-02-27,2019-03-15,2019-04-14,2019-05-14
19850,-717499799,-4,-181507580,100034765188,20200506_GT8_ARRAY_177_D11_TPMI.CEL,1,1110600,TWARFAR2,0.5,0,...,2.5,119 days,28 days,NaN,2019-02-18,2019-02-20,2019-02-27,2019-03-15,2019-04-14,2019-05-14
19851,-717499809,-9,-181507580,100034765188,20200506_GT8_ARRAY_177_D11_TPMI.CEL,1,1110600,TWARFAR2,0.5,0,...,2.5,119 days,28 days,NaN,2019-02-18,2019-02-20,2019-02-27,2019-03-15,2019-04-14,2019-05-14
19852,-717499827,-15,-181507580,100034765188,20200506_GT8_ARRAY_177_D11_TPMI.CEL,1,1110600,TWARFAR2,0.5,0,...,2.5,119 days,28 days,NaN,2019-02-18,2019-02-20,2019-02-27,2019-03-15,2019-04-14,2019-05-14

In [9]:
drug5 = drug[drug.OrderTime1 <= drug.OrderTime_min5]
drug5 = drug5.drop(columns=['OrderTime_min7','OrderTime_min14','OrderTime_min28','OrderTime_min56','OrderTime_min84'])
drug7 = drug[drug.OrderTime1 <= drug.OrderTime_min7]
drug7 = drug7.drop(columns=['OrderTime_min5','OrderTime_min14','OrderTime_min28','OrderTime_min56','OrderTime_min84'])
drug14 = drug[drug.OrderTime1 <= drug.OrderTime_min14]
drug14 = drug14.drop(columns=['OrderTime_min5','OrderTime_min7','OrderTime_min28','OrderTime_min56','OrderTime_min84'])
drug28 = drug[drug.OrderTime1 <= drug.OrderTime_min28]
drug28 = drug28.drop(columns=['OrderTime_min5','OrderTime_min7','OrderTime_min14','OrderTime_min56','OrderTime_min84'])
drug56 = drug[drug.OrderTime1 <= drug.OrderTime_min56]
drug56 = drug56.drop(columns=['OrderTime_min5','OrderTime_min7','OrderTime_min14','OrderTime_min28','OrderTime_min84'])
drug84 = drug[drug.OrderTime1 <= drug.OrderTime_min84]
drug84 = drug84.drop(columns=['OrderTime_min5','OrderTime_min7','OrderTime_min14','OrderTime_min28','OrderTime_min56'])

In [10]:
drug5 = drug5.sort_values(['PatientNo','OrderTime'])
drug5['OrderTime'] = pd.to_datetime(drug5['OrderTime'])
drug5['OrderTime_diff'] = drug5.groupby('PatientNo')['OrderTime1'].diff().fillna(pd.Timedelta(0))
drug5['sameday'] = drug5.groupby(['PatientNo', 'OrderTime1','OrderTime_diff'])['OrderTime'].transform('max')
drug5 = drug5[drug5['OrderTime'] == drug5.sameday]
drug5 = drug5.drop_duplicates()

drug5['drug_day'] = np.where(drug5.UsageNo == 9000 , 1 , drug5.drug_day.dt.days )
drug5['Sum_Dose'] = np.where(drug5['EndTime1']<=drug5['OrderTime_min5'], drug5['Dose(mg/tab)']*drug5['drug_day'],
                              (pd.to_numeric((drug5['OrderTime_min5']-drug5['OrderTime1']).dt.days, downcast='integer'))*drug5['Dose(mg/tab)'])

# 篩出STAT 
drug5_STAT = drug5[drug5.UsageNo == 9000]
drug5_Other = drug5[drug5.UsageNo != 9000]

# 非STAT用一天平均劑量計算
drug5_Other['mean_day_dose'] = (drug5_Other.TotalQty/drug5_Other.UsedDays)*drug5_Other.Dose

drug5_Other['Sum_Dose'] = np.where(drug5_Other['EndTime1']<=drug5_Other['OrderTime_min5'], drug5_Other['mean_day_dose']*drug5_Other['drug_day'],
                              (pd.to_numeric((drug5_Other['OrderTime_min5']-drug5_Other['OrderTime1']).dt.days, downcast='integer'))*drug5_Other['mean_day_dose'])
drug5_concat = pd.concat([drug5_STAT , drug5_Other])

# 5天平均劑量
Dose_mean5 = drug5_concat.groupby('PatientNo')['Sum_Dose'].sum()/5

C:\Users\cmuh1\AppData\Local\Temp\ipykernel_9812\2721579500.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  drug5_Other['mean_day_dose'] = (drug5_Other.TotalQty/drug5_Other.UsedDays)*drug5_Other.Dose
C:\Users\cmuh1\AppData\Local\Temp\ipykernel_9812\2721579500.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  drug5_Other['Sum_Dose'] = np.where(drug5_Other['EndTime1']<=drug5_Other['OrderTime_min5'], drug5_Other['mean_day_dose']*drug5_Other['drug_day'],

In [11]:
drug7 = drug7.sort_values(['PatientNo','OrderTime'])
drug7['OrderTime'] = pd.to_datetime(drug7['OrderTime'])
drug7['OrderTime_diff'] = drug7.groupby('PatientNo')['OrderTime1'].diff().fillna(pd.Timedelta(0))
drug7['sameday'] = drug7.groupby(['PatientNo', 'OrderTime1','OrderTime_diff'])['OrderTime'].transform('max')
drug7 = drug7[drug7['OrderTime'] == drug7.sameday]
drug7 = drug7.drop_duplicates()

drug7['drug_day'] = np.where(drug7.UsageNo == 9000 , 1 , drug7.drug_day.dt.days )
drug7['Sum_Dose'] = np.where(drug7['EndTime1']<=drug7['OrderTime_min7'], drug7['Dose(mg/tab)']*drug7['drug_day'],
                              (pd.to_numeric((drug7['OrderTime_min7']-drug7['OrderTime1']).dt.days, downcast='integer'))*drug7['Dose(mg/tab)'])

# 篩出STAT 
drug7_STAT = drug7[drug7.UsageNo == 9000]
drug7_Other = drug7[drug7.UsageNo != 9000]

# 非STAT用一天平均劑量計算
drug7_Other['mean_day_dose'] = (drug7_Other.TotalQty/drug7_Other.UsedDays)*drug7_Other.Dose

drug7_Other['Sum_Dose'] = np.where(drug7_Other['EndTime1']<=drug7_Other['OrderTime_min7'], drug7_Other['mean_day_dose']*drug7_Other['drug_day'],
                              (pd.to_numeric((drug7_Other['OrderTime_min7']-drug7_Other['OrderTime1']).dt.days, downcast='integer'))*drug7_Other['mean_day_dose'])
drug7_concat = pd.concat([drug7_STAT , drug7_Other])

# 7天平均劑量
Dose_mean7 = drug7_concat.groupby('PatientNo')['Sum_Dose'].sum()/7

C:\Users\cmuh1\AppData\Local\Temp\ipykernel_9812\1259274427.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  drug7_Other['mean_day_dose'] = (drug7_Other.TotalQty/drug7_Other.UsedDays)*drug7_Other.Dose
C:\Users\cmuh1\AppData\Local\Temp\ipykernel_9812\1259274427.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  drug7_Other['Sum_Dose'] = np.where(drug7_Other['EndTime1']<=drug7_Other['OrderTime_min7'], drug7_Other['mean_day_dose']*drug7_Other['drug_day'],

In [12]:
drug14 = drug14.sort_values(['PatientNo','OrderTime'])
drug14['OrderTime'] = pd.to_datetime(drug14['OrderTime'])
drug14['OrderTime_diff'] = drug14.groupby('PatientNo')['OrderTime1'].diff().fillna(pd.Timedelta(0))
drug14['sameday'] = drug14.groupby(['PatientNo', 'OrderTime1','OrderTime_diff'])['OrderTime'].transform('max')
drug14 = drug14[drug14['OrderTime'] == drug14.sameday]
drug14 = drug14.drop_duplicates()

drug14['drug_day'] = np.where(drug14.UsageNo == 9000 , 1 , drug14.drug_day.dt.days )
drug14['Sum_Dose'] = np.where(drug14['EndTime1']<=drug14['OrderTime_min14'], drug14['Dose(mg/tab)']*drug14['drug_day'],
                              (pd.to_numeric((drug14['OrderTime_min14']-drug14['OrderTime1']).dt.days, downcast='integer'))*drug14['Dose(mg/tab)'])

# 篩出STAT 
drug14_STAT = drug14[drug14.UsageNo == 9000]
drug14_Other = drug14[drug14.UsageNo != 9000]

# 非STAT用一天平均劑量計算
drug14_Other['mean_day_dose'] = (drug14_Other.TotalQty/drug14_Other.UsedDays)*drug14_Other.Dose

drug14_Other['Sum_Dose'] = np.where(drug14_Other['EndTime1']<=drug14_Other['OrderTime_min14'], drug14_Other['mean_day_dose']*drug14_Other['drug_day'],
                              (pd.to_numeric((drug14_Other['OrderTime_min14']-drug14_Other['OrderTime1']).dt.days, downcast='integer'))*drug14_Other['mean_day_dose'])
drug14_concat = pd.concat([drug14_STAT , drug14_Other])

# 14天平均劑量
Dose_mean14 = drug14_concat.groupby('PatientNo')['Sum_Dose'].sum()/14

C:\Users\cmuh1\AppData\Local\Temp\ipykernel_9812\3160188979.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  drug14_Other['mean_day_dose'] = (drug14_Other.TotalQty/drug14_Other.UsedDays)*drug14_Other.Dose
C:\Users\cmuh1\AppData\Local\Temp\ipykernel_9812\3160188979.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  drug14_Other['Sum_Dose'] = np.where(drug14_Other['EndTime1']<=drug14_Other['OrderTime_min14'], drug14_Other['mean_day_dose']*drug14_Other['drug_day'],

In [13]:
drug28 = drug28.sort_values(['PatientNo','OrderTime'])
drug28['OrderTime'] = pd.to_datetime(drug28['OrderTime'])
drug28['OrderTime_diff'] = drug28.groupby('PatientNo')['OrderTime1'].diff().fillna(pd.Timedelta(0))
drug28['sameday'] = drug28.groupby(['PatientNo', 'OrderTime1','OrderTime_diff'])['OrderTime'].transform('max')
drug28 = drug28[drug28['OrderTime'] == drug28.sameday]
drug28 = drug28.drop_duplicates()

drug28['drug_day'] = np.where(drug28.UsageNo == 9000 , 1 , drug28.drug_day.dt.days )
drug28['Sum_Dose'] = np.where(drug28['EndTime1']<=drug28['OrderTime_min28'], drug28['Dose(mg/tab)']*drug28['drug_day'],
                              (pd.to_numeric((drug28['OrderTime_min28']-drug28['OrderTime1']).dt.days, downcast='integer'))*drug28['Dose(mg/tab)'])

# 篩出STAT 
drug28_STAT = drug28[drug28.UsageNo == 9000]
drug28_Other = drug28[drug28.UsageNo != 9000]

# 非STAT用一天平均劑量計算
drug28_Other['mean_day_dose'] = (drug28_Other.TotalQty/drug28_Other.UsedDays)*drug28_Other.Dose

drug28_Other['Sum_Dose'] = np.where(drug28_Other['EndTime1']<=drug28_Other['OrderTime_min28'], drug28_Other['mean_day_dose']*drug28_Other['drug_day'],
                              (pd.to_numeric((drug28_Other['OrderTime_min28']-drug28_Other['OrderTime1']).dt.days, downcast='integer'))*drug28_Other['mean_day_dose'])
drug28_concat = pd.concat([drug28_STAT , drug28_Other])

# 28天平均劑量
Dose_mean28 = drug28_concat.groupby('PatientNo')['Sum_Dose'].sum()/28

C:\Users\cmuh1\AppData\Local\Temp\ipykernel_9812\360537376.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  drug28_Other['mean_day_dose'] = (drug28_Other.TotalQty/drug28_Other.UsedDays)*drug28_Other.Dose
C:\Users\cmuh1\AppData\Local\Temp\ipykernel_9812\360537376.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  drug28_Other['Sum_Dose'] = np.where(drug28_Other['EndTime1']<=drug28_Other['OrderTime_min28'], drug28_Other['mean_day_dose']*drug28_Other['drug_day'],

In [14]:
drug56 = drug56.sort_values(['PatientNo','OrderTime'])
drug56['OrderTime'] = pd.to_datetime(drug56['OrderTime'])
drug56['OrderTime_diff'] = drug56.groupby('PatientNo')['OrderTime1'].diff().fillna(pd.Timedelta(0))
drug56['sameday'] = drug56.groupby(['PatientNo', 'OrderTime1','OrderTime_diff'])['OrderTime'].transform('max')
drug56 = drug56[drug56['OrderTime'] == drug56.sameday]
drug56 = drug56.drop_duplicates()

drug56['drug_day'] = np.where(drug56.UsageNo == 9000 , 1 , drug56.drug_day.dt.days )
drug56['Sum_Dose'] = np.where(drug56['EndTime1']<=drug56['OrderTime_min56'], drug56['Dose(mg/tab)']*drug56['drug_day'],
                              (pd.to_numeric((drug56['OrderTime_min56']-drug56['OrderTime1']).dt.days, downcast='integer'))*drug56['Dose(mg/tab)'])

# 篩出STAT 
drug56_STAT = drug56[drug56.UsageNo == 9000]
drug56_Other = drug56[drug56.UsageNo != 9000]

# 非STAT用一天平均劑量計算
drug56_Other['mean_day_dose'] = (drug56_Other.TotalQty/drug56_Other.UsedDays)*drug56_Other.Dose

drug56_Other['Sum_Dose'] = np.where(drug56_Other['EndTime1']<=drug56_Other['OrderTime_min56'], drug56_Other['mean_day_dose']*drug56_Other['drug_day'],
                              (pd.to_numeric((drug56_Other['OrderTime_min56']-drug56_Other['OrderTime1']).dt.days, downcast='integer'))*drug56_Other['mean_day_dose'])
drug56_concat = pd.concat([drug56_STAT , drug56_Other])

# 56天平均劑量
Dose_mean56 = drug56_concat.groupby('PatientNo')['Sum_Dose'].sum()/56

C:\Users\cmuh1\AppData\Local\Temp\ipykernel_9812\2646071442.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  drug56_Other['mean_day_dose'] = (drug56_Other.TotalQty/drug56_Other.UsedDays)*drug56_Other.Dose
C:\Users\cmuh1\AppData\Local\Temp\ipykernel_9812\2646071442.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  drug56_Other['Sum_Dose'] = np.where(drug56_Other['EndTime1']<=drug56_Other['OrderTime_min56'], drug56_Other['mean_day_dose']*drug56_Other['drug_day'],

In [15]:
drug84 = drug84.sort_values(['PatientNo','OrderTime'])
drug84['OrderTime'] = pd.to_datetime(drug84['OrderTime'])
drug84['OrderTime_diff'] = drug84.groupby('PatientNo')['OrderTime1'].diff().fillna(pd.Timedelta(0))
drug84['sameday'] = drug84.groupby(['PatientNo', 'OrderTime1','OrderTime_diff'])['OrderTime'].transform('max')
drug84 = drug84[drug84['OrderTime'] == drug84.sameday]
drug84 = drug84.drop_duplicates()

drug84['drug_day'] = np.where(drug84.UsageNo == 9000 , 1 , drug84.drug_day.dt.days )
drug84['Sum_Dose'] = np.where(drug84['EndTime1']<=drug84['OrderTime_min84'], drug84['Dose(mg/tab)']*drug84['drug_day'],
                              (pd.to_numeric((drug84['OrderTime_min84']-drug84['OrderTime1']).dt.days, downcast='integer'))*drug84['Dose(mg/tab)'])

# 篩出STAT 
drug84_STAT = drug84[drug84.UsageNo == 9000]
drug84_Other = drug84[drug84.UsageNo != 9000]

# 非STAT用一天平均劑量計算
drug84_Other['mean_day_dose'] = (drug84_Other.TotalQty/drug84_Other.UsedDays)*drug84_Other.Dose

drug84_Other['Sum_Dose'] = np.where(drug84_Other['EndTime1']<=drug84_Other['OrderTime_min84'], drug84_Other['mean_day_dose']*drug84_Other['drug_day'],
                              (pd.to_numeric((drug84_Other['OrderTime_min84']-drug84_Other['OrderTime1']).dt.days, downcast='integer'))*drug84_Other['mean_day_dose'])
drug84_concat = pd.concat([drug84_STAT , drug84_Other])

# 84天平均劑量
Dose_mean84 = drug84_concat.groupby('PatientNo')['Sum_Dose'].sum()/84

C:\Users\cmuh1\AppData\Local\Temp\ipykernel_9812\3602684645.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  drug84_Other['mean_day_dose'] = (drug84_Other.TotalQty/drug84_Other.UsedDays)*drug84_Other.Dose
C:\Users\cmuh1\AppData\Local\Temp\ipykernel_9812\3602684645.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  drug84_Other['Sum_Dose'] = np.where(drug84_Other['EndTime1']<=drug84_Other['OrderTime_min84'], drug84_Other['mean_day_dose']*drug84_Other['drug_day'],

In [16]:
Dose_mean5

PatientNo
100000000498    1.923810
100000001159    0.657143
100000001395    2.642857
100000001714    2.083333
100000002675    2.500000
                  ...
100035861165    0.757143
100035863490    1.157143
100035892222    1.200000
100035901923    0.071429
100036202057    0.000000
Name: Sum_Dose, Length: 2613, dtype: float64

In [17]:
Dose_mean7

PatientNo
100000000498    2.088435
100000001159    1.795918
100000001395    3.316327
100000001714    2.083333
100000002675    2.500000
                  ...
100035861165    0.734694
100035863490    1.091837
100035892222    1.183673
100035901923    0.051020
100036202057    0.000000
Name: Sum_Dose, Length: 2613, dtype: float64

In [18]:
Dose_mean14

PatientNo
100000000498    2.437075
100000001159    3.346939
100000001395    3.852041
100000001714    1.785714
100000002675    2.500000
                  ...
100035861165    2.561224
100035863490    1.035714
100035892222    0.918367
100035901923    0.025510
100036202057    0.000000
Name: Sum_Dose, Length: 2613, dtype: float64

In [19]:
Dose_mean28

PatientNo
100000000498    2.647109
100000001159    5.484694
100000001395    3.966837
100000001714    0.892857
100000002675    1.428571
                  ...
100035861165    4.826531
100035863490    2.701531
100035892222    0.459184
100035901923    0.012755
100036202057    0.000000
Name: Sum_Dose, Length: 2613, dtype: float64

In [20]:
Dose_mean56

PatientNo
100000000498    2.662840
100000001159    5.169643
100000001395    3.718112
100000001714    0.446429
100000002675    2.053571
                  ...
100035861165    2.413265
100035863490    1.350765
100035892222    0.229592
100035901923    0.006378
100036202057    0.000000
Name: Sum_Dose, Length: 2613, dtype: float64

In [21]:
Dose_mean84

PatientNo
100000000498    2.668084
100000001159    3.446429
100000001395    3.656463
100000001714    0.297619
100000002675    2.261905
                  ...
100035861165    1.608844
100035863490    0.900510
100035892222    0.153061
100035901923    0.004252
100036202057    0.000000
Name: Sum_Dose, Length: 2613, dtype: float64

In [28]:
Dose_all = pd.merge(Dose_mean5 , Dose_mean7 , how='left' ,on='PatientNo')
Dose_all = Dose_all.rename(columns={'Sum_Dose_x':'Dose_mean5' ,'Sum_Dose_y':'Dose_mean7' })
Dose_all = pd.merge(Dose_all , Dose_mean14 , how='left' ,on='PatientNo')
Dose_all = Dose_all.rename(columns={'Sum_Dose':'Dose_mean14' })
Dose_all = pd.merge(Dose_all , Dose_mean28 , how='left' ,on='PatientNo')
Dose_all = Dose_all.rename(columns={'Sum_Dose':'Dose_mean28' })
Dose_all = pd.merge(Dose_all , Dose_mean56 , how='left' ,on='PatientNo')
Dose_all = Dose_all.rename(columns={'Sum_Dose':'Dose_mean56' })
Dose_all = pd.merge(Dose_all , Dose_mean84 , how='left' ,on='PatientNo')
Dose_all = Dose_all.rename(columns={'Sum_Dose':'Dose_mean84' })
# Dose_all.to_excel(r'C:\Users\cmuh1\VSCode\Dose_mean.xlsx')

In [27]:
Dose_all

,Dose_mean5,Dose_mean7,Dose_mean14,Dose_mean28,Dose_mean56,Dose_mean84
PatientNo,,,,,,
100000000498,1.923810,2.088435,2.437075,2.647109,2.662840,2.668084
100000001159,0.657143,1.795918,3.346939,5.484694,5.169643,3.446429
100000001395,2.642857,3.316327,3.852041,3.966837,3.718112,3.656463
100000001714,2.083333,2.083333,1.785714,0.892857,0.446429,0.297619
100000002675,2.500000,2.500000,2.500000,1.428571,2.053571,2.261905
...,...,...,...,...,...,...
100035861165,0.757143,0.734694,2.561224,4.826531,2.413265,1.608844
100035863490,1.157143,1.091837,1.035714,2.701531,1.350765,0.900510
100035892222,1.200000,1.183673,0.918367,0.459184,0.229592,0.153061
100035901923,0.071429,0.051020,0.025510,0.012755,0.006378,0.004252
100036202057,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000

In [23]:
# dose_mean = [Dose_mean5, Dose_mean7, Dose_mean14, Dose_mean30, Dose_mean60, Dose_mean90]

# Dose = pd.concat(dose_mean, join='inner', axis=1)
# Dose

In [24]:
# -----------------------------------------------舊算法-----------------------------------------------
# drug5 = drug5.sort_values(['PatientNo','OrderTime'])
# drug5['OrderTime'] = pd.to_datetime(drug5['OrderTime'])
# drug5['OrderTime_diff'] = drug5.groupby('PatientNo')['OrderTime1'].diff().fillna(pd.Timedelta(0))
# drug5['sameday'] = drug5.groupby(['PatientNo', 'OrderTime1','OrderTime_diff'])['OrderTime'].transform('max')
# drug5 = drug5[drug5['OrderTime'] == drug5.sameday]
# drug5 = drug5.drop_duplicates()

# drug5['drug_day'] = np.where(drug5.UsageNo == 9000 , 1 , drug5.drug_day.dt.days )
# drug5['Sum_Dose'] = np.where(drug5['EndTime1']<=drug5['OrderTime_min5'], drug5['Dose(mg/tab)']*drug5['drug_day'],
#                               (pd.to_numeric((drug5['OrderTime_min5']-drug5['OrderTime1']).dt.days, downcast='integer'))*drug5['Dose(mg/tab)'])

# # 5天平均劑量
# Dose_mean5 = drug5.groupby('PatientNo')['Sum_Dose'].sum()/5