In [1]:
import pandas as pd
from datetime import timedelta
import numpy as np

In [2]:
drug = pd.read_csv(r"C:\Users\cmuh1\VSCode\jupter\warfarin_Source\warfarin_Drug.csv")
database = pd.read_excel(r'C:\Users\cmuh1\VSCode\warfarin總表-0311(第七版).xlsx')

In [3]:
drug['OrderTime1'] = pd.to_datetime(drug['OrderTime']).dt.date
drug['EndTime1'] = pd.to_datetime(drug['EndTime']).dt.date
drug['OrderTime_min'] = drug.groupby('PatientNo')['OrderTime1'].transform(min)

In [4]:
drug['MedCode'] = drug['MedCode'].str.strip()
conditions=[(drug.MedCode == 'TCOUMAD'),
 (drug.MedCode == 'TWARFA1'),
 (drug.MedCode == 'TWARFA11'),
 (drug.MedCode == 'TWARFA12'),
 (drug.MedCode == 'TWARFAR'),
 (drug.MedCode == 'TWARFAR1'),
 (drug.MedCode == 'TWARFAR2'),
 ]
values = [ 5 , 1 , 1, 1, 5, 5, 5]

drug['Dose(mg/tab)'] = np.select(conditions,values)
drug['Dose(mg/tab)'] = drug['Dose(mg/tab)'].multiply(drug['Dosage'])

In [5]:

# drug['OrderTime'] = drug.groupby('PatientNo')['OrderTime'].transform('min')
# drug['del'] = 0
# for i in range(len(drug.PatientNo)):
#     if (drug.OrderTime1[i] == drug.OrderTime_min[i]) & (drug.OrderNo[i] == drug.OrderNO_max[i]):
#         drug['del'][i] = 1

In [6]:
drug['timediff'] = drug['EndTime1'] - drug['OrderTime_min']
drug['drug_day'] = drug['EndTime1'] - drug['OrderTime1']
drug = drug[drug['timediff'] <timedelta(days=180)]

In [7]:
OrderNo = pd.DataFrame(database.OrderNo)
OrderNo['OrderNo1'] = OrderNo.OrderNo

In [8]:
drug = pd.merge(drug , OrderNo,how='left' , on='OrderNo')

In [9]:
drug['OrderTime_min5'] = drug.OrderTime_min +timedelta(days=5)
drug['OrderTime_min7'] = drug.OrderTime_min +timedelta(days=7)
drug['OrderTime_min14'] = drug.OrderTime_min +timedelta(days=14)
drug['OrderTime_min30'] = drug.OrderTime_min +timedelta(days=30)
drug['OrderTime_min60'] = drug.OrderTime_min +timedelta(days=60)
drug['OrderTime_min90'] = drug.OrderTime_min +timedelta(days=90)
drug

,OrderNo,OrderSource,VisitNo,PatientNo,GenotypeName,Sex,MedType,MedCode,Dosage,IngredDosage,...,Dose(mg/tab),timediff,drug_day,OrderNo1,OrderTime_min5,OrderTime_min7,OrderTime_min14,OrderTime_min30,OrderTime_min60,OrderTime_min90
0,-202891406,-18,-133824502,100000002675,20191125_GT23_ARRAY_700_D08_TPMI.CEL,2,1120100,TCOUMAD,0.5,0,...,2.5,56 days,28 days,NaN,2003-10-25,2003-10-27,2003-11-03,2003-11-19,2003-12-19,2004-01-18
1,-346810920,-10,-172393750,100000025381,20190814_GT3_ARRAY_179_F06_TPMI.CEL,1,1110600,TWARFAR2,0.5,0,...,2.5,161 days,28 days,NaN,2016-10-16,2016-10-18,2016-10-25,2016-11-10,2016-12-10,2017-01-09
2,-319037674,-15,-169952329,100000025381,20190814_GT3_ARRAY_179_F06_TPMI.CEL,1,1120100,TWARFA1,1.0,0,...,1.0,14 days,14 days,-319037674.0,2016-10-16,2016-10-18,2016-10-25,2016-11-10,2016-12-10,2017-01-09
3,-322423104,-15,-171085460,100000025381,20190814_GT3_ARRAY_179_F06_TPMI.CEL,1,1110600,TWARFAR2,0.5,0,...,2.5,70 days,28 days,NaN,2016-10-16,2016-10-18,2016-10-25,2016-11-10,2016-12-10,2017-01-09
4,-364630264,-200000031,-301228249,100000025381,20190814_GT3_ARRAY_179_F06_TPMI.CEL,1,1310100,TWARFAR2,0.5,0,...,2.5,100 days,1 days,NaN,2016-10-16,2016-10-18,2016-10-25,2016-11-10,2016-12-10,2017-01-09
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20483,-726619199,-4,-182455971,100034765188,20200506_GT8_ARRAY_177_D11_TPMI.CEL,1,1110600,TWARFAR2,0.5,0,...,2.5,145 days,28 days,NaN,2019-02-18,2019-02-20,2019-02-27,2019-03-15,2019-04-14,2019-05-14
20484,-706602996,-4,-182850997,100034765188,20200506_GT8_ARRAY_177_D11_TPMI.CEL,1,1110600,TWARFAR2,0.5,0,...,2.5,174 days,28 days,NaN,2019-02-18,2019-02-20,2019-02-27,2019-03-15,2019-04-14,2019-05-14
20485,-717499799,-4,-181507580,100034765188,20200506_GT8_ARRAY_177_D11_TPMI.CEL,1,1110600,TWARFAR2,0.5,0,...,2.5,119 days,28 days,NaN,2019-02-18,2019-02-20,2019-02-27,2019-03-15,2019-04-14,2019-05-14
20486,-717499809,-9,-181507580,100034765188,20200506_GT8_ARRAY_177_D11_TPMI.CEL,1,1110600,TWARFAR2,0.5,0,...,2.5,119 days,28 days,NaN,2019-02-18,2019-02-20,2019-02-27,2019-03-15,2019-04-14,2019-05-14
20487,-717499827,-15,-181507580,100034765188,20200506_GT8_ARRAY_177_D11_TPMI.CEL,1,1110600,TWARFAR2,0.5,0,...,2.5,119 days,28 days,NaN,2019-02-18,2019-02-20,2019-02-27,2019-03-15,2019-04-14,2019-05-14

In [10]:
drug5 = drug[drug.OrderTime1 <= drug.OrderTime_min5]
drug5 = drug5.drop(columns=['OrderTime_min7','OrderTime_min14','OrderTime_min30','OrderTime_min60','OrderTime_min90'])
drug7 = drug[drug.OrderTime1 <= drug.OrderTime_min7]
drug7 = drug7.drop(columns=['OrderTime_min5','OrderTime_min14','OrderTime_min30','OrderTime_min60','OrderTime_min90'])
drug14 = drug[drug.OrderTime1 <= drug.OrderTime_min14]
drug14 = drug14.drop(columns=['OrderTime_min5','OrderTime_min7','OrderTime_min30','OrderTime_min60','OrderTime_min90'])
drug30 = drug[drug.OrderTime1 <= drug.OrderTime_min30]
drug30 = drug30.drop(columns=['OrderTime_min5','OrderTime_min7','OrderTime_min14','OrderTime_min60','OrderTime_min90'])
drug60 = drug[drug.OrderTime1 <= drug.OrderTime_min60]
drug60 = drug60.drop(columns=['OrderTime_min5','OrderTime_min7','OrderTime_min14','OrderTime_min30','OrderTime_min90'])
drug90 = drug[drug.OrderTime1 <= drug.OrderTime_min90]
drug90 = drug90.drop(columns=['OrderTime_min5','OrderTime_min7','OrderTime_min14','OrderTime_min30','OrderTime_min60'])

In [11]:
# drug30['min30-order'] = drug30.OrderTime_min30 - drug30.OrderTime1
# drug30['min30-order_min'] = drug30.groupby('PatientNo')['min30-order'].transform(min)
# drug30 = drug30[drug30['min30-order'] == drug30['min30-order_min']]
# .to_excel(r'C:\Users\cmuh1\VSCode\drug30.xlsx')

In [28]:
drug30 = drug30.sort_values(['PatientNo','OrderTime'])
drug30['OrderTime'] = pd.to_datetime(drug30['OrderTime'])
drug30['OrderTime_diff'] = drug30.groupby('PatientNo')['OrderTime1'].diff().fillna(pd.Timedelta(0))
drug30['sameday'] = drug30.groupby(['PatientNo', 'OrderTime1','OrderTime_diff'])['OrderTime'].transform('max')
drug30 = drug30[drug30['OrderTime'] == drug30.sameday]
drug30 = drug30.drop_duplicates()
# drug30 = drug30.reset_index(drop=True)
# drug30['OrderTime_diff_under_1'] = 0 
# conditions = [drug30.OrderTime_diff < timedelta(days=1)]
# values = [1]
# drug30['OrderTime_diff_under_1'] = np.select(conditions , values)
# for i in range(len(drug30.PatientNo)):
#     # if(type(drug30.OrderTime_diff[i]) == float):
#     if(drug30.sameday.isnull()[i] == True):
#         # drug30.OrderTime_diff[i] = pd.Timedelta(0)
#         drug30.sameday[i] = drug30.OrderTime[i]
# drug30 = drug30[['PatientNo', 'OrderTime', 'OrderNo1','OrderTime_diff', 'sameday']]

In [29]:
drug30

,OrderNo,OrderSource,VisitNo,PatientNo,GenotypeName,Sex,MedType,MedCode,Dosage,IngredDosage,...,OrderTime1,EndTime1,OrderTime_min,Dose(mg/tab),timediff,drug_day,OrderNo1,OrderTime_min30,OrderTime_diff,sameday
1,-282665875,-200000015,-300768364,100000000498,20191209_GT3_ARRAY_371_C02_TPMI.CEL,2,1310100,TCOUMAD,0.5,0,...,2010-08-12,2010-08-14,2010-08-12,2.5,2 days,2 days,-282665875.0,2010-09-11,0 days,2010-08-12 19:00:00
2,-282665876,-200000016,-300768364,100000000498,20191209_GT3_ARRAY_371_C02_TPMI.CEL,2,1310100,TCOUMAD,0.5,0,...,2010-08-14,2010-08-16,2010-08-12,2.5,4 days,2 days,NaN,2010-09-11,2 days,2010-08-14 07:46:00
3,-282665879,-200000019,-300768364,100000000498,20191209_GT3_ARRAY_371_C02_TPMI.CEL,2,1310100,TCOUMAD,1.0,0,...,2010-08-16,2010-08-16,2010-08-12,5.0,4 days,0 days,NaN,2010-09-11,2 days,2010-08-16 11:17:00
5,-282665881,-200000021,-300768364,100000000498,20191209_GT3_ARRAY_371_C02_TPMI.CEL,2,1310100,TCOUMAD,0.5,0,...,2010-08-16,2010-08-18,2010-08-12,2.5,6 days,2 days,NaN,2010-09-11,0 days,2010-08-16 13:49:00
6,-282665883,-200000023,-300768364,100000000498,20191209_GT3_ARRAY_371_C02_TPMI.CEL,2,1320100,TCOUMAD,0.5,0,...,2010-08-18,2010-08-23,2010-08-12,2.5,11 days,5 days,NaN,2010-09-11,2 days,2010-08-18 10:22:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11372,-703470411,-200000055,-301476380,100035892222,20200709_GT7_ARRAY_2187_A11_TPMI.CEL,1,1310100,TWARFA1,1.5,0,...,2019-12-19,2019-12-19,2019-12-19,1.5,0 days,0 days,-703470411.0,2020-01-18,0 days,2019-12-19 12:14:00
11373,-703470475,-200000074,-301476380,100035892222,20200709_GT7_ARRAY_2187_A11_TPMI.CEL,1,1310100,TWARFA1,0.5,0,...,2019-12-23,2019-12-23,2019-12-19,0.5,4 days,0 days,NaN,2020-01-18,4 days,2019-12-23 10:23:00
11374,-703470488,-200000076,-301476380,100035892222,20200709_GT7_ARRAY_2187_A11_TPMI.CEL,1,1310100,TWARFA1,2.0,0,...,2019-12-23,2019-12-30,2019-12-19,2.0,11 days,7 days,NaN,2020-01-18,0 days,2019-12-23 17:11:00
11375,-702819389,-200000005,-301477176,100035901923,20200416_GT8_ARRAY_133_G10_TPMI.CEL,2,1310100,TWARFAR2,0.5,0,...,2019-12-22,2019-12-23,2019-12-22,2.5,1 days,1 days,-702819389.0,2020-01-21,0 days,2019-12-22 14:45:00
11376,-740510778,-400000202,-301440742,100036202057,20200818_GT8_ARRAY_4092_B05_TPMI.CEL,2,1318000,TWARFAR2,1.0,0,...,2019-07-24,2019-07-31,2019-07-24,5.0,7 days,7 days,-740510778.0,2019-08-23,0 days,2019-07-24 16:40:00

In [ ]:
drug60['min60-order'] = drug60.OrderTime_min60 - drug60.OrderTime1
drug60['min60-order_min'] = drug60.groupby('PatientNo')['min60-order'].transform(min)
drug60[drug60['min60-order'] == drug60['min60-order_min']]
# .to_excel(r'C:\Users\cmuh1\VSCode\drug60.xlsx')

In [ ]:
drug90['min90-order'] = drug90.OrderTime_min90 - drug90.OrderTime1
drug90['min90-order_min'] = drug90.groupby('PatientNo')['min90-order'].transform(min)
drug90[drug90['min90-order'] == drug90['min90-order_min']]
# .to_excel(r'C:\Users\cmuh1\VSCode\drug90.xlsx')